[2014-12-24 00:00] JacobEvelyn opened #1 "Add more test coverage"

[2014-12-24 00:15] JacobEvelyn opened #2 "Comment all classes and methods (YARD)"

[2014-12-24 00:15] JacobEvelyn opened #3 "Respect params for new file location"
This should also make sure filename is passed to Introvert.

[2014-12-24 00:16] JacobEvelyn opened #4 "Be able to add new friends"

[2014-12-24 00:17] JacobEvelyn opened #5 "Be able to add activities"

[2014-12-24 00:17] JacobEvelyn opened #6 "Be able to list activities"
Must decide whether we want to have friends right in activity text or as annotations.

Right in text:
- Cleaner file
- More sentence-like output (e.g. `Rollerskating with **Lance**, **Brad Paisley**, and **Elmo**.`)
- False positives possible (e.g. friend named Hilton)

Annotations:
- Can add annotations on insertion; less processing on read
- More granularity for specifying friends (e.g. `Rollers

[2014-12-24 00:31] JacobEvelyn opened #7 "Gracefully handle friend name conflicts in all commands"

[2014-12-24 00:32] JacobEvelyn opened #8 "Auto-update?"
Or should we rely on gem update?

[2014-12-24 00:37] JacobEvelyn opened #10 "Release to RubyGems"
And test that it works!

[2014-12-24 00:49] JacobEvelyn opened #12 "Add link to RubyDoc in README"

[2014-12-24 07:24] #10 closed, assigned to JacobEvelyn

[2014-12-24 07:58] #12 closed, assigned to JacobEvelyn

[2014-12-24 15:18] #2 closed, assigned to JacobEvelyn

[2014-12-24 16:10] #1 closed, assigned to JacobEvelyn

[2014-12-24 16:11] #3 closed, assigned to JacobEvelyn

[2014-12-25 02:39] #4 closed, assigned to JacobEvelyn

[2014-12-25 02:39] #7 closed, assigned to JacobEvelyn

[2014-12-25 07:43] JacobEvelyn opened #16 "Add ability to change friend name"
And update activities accordingly.

[2014-12-25 07:45] JacobEvelyn opened #17 "Friends should be able to have nicknames"
Perhaps syntax should be:

[code]

Nicknames can also change... see #16.

[2014-12-25 07:46] JacobEvelyn opened #18 "Friend name lookups should be case-insensitive"
Both for fuzzy and exact searching.

[2014-12-29 21:38] #6 closed, assigned to JacobEvelyn

[2014-12-29 22:06] JacobEvelyn opened #20 "Put activities before friends in friends.md"

[2014-12-29 22:07] JacobEvelyn opened #21 "Have robustness around name extraction from activities"
If there's more than one match, prompt the user.

[2015-01-02 17:18] #5 closed

[2015-01-02 17:20] JacobEvelyn opened #23 "Add more detailed usage example to README."

[2015-01-03 01:20] #18 closed

[2015-01-03 01:41] JacobEvelyn opened #25 "Create file if none exists"

[2015-01-03 01:49] #20 closed

[2015-01-03 01:50] JacobEvelyn opened #27 "Have activity dates default to today if none provided"

[2015-01-03 01:51] JacobEvelyn opened #28 "Add confirmation after commands (and --quiet)"

[2015-01-03 02:31] #28 closed

[2015-01-04 14:54] #23 closed

[2015-01-05 12:54] JacobEvelyn commented on #27
Done.

[2015-01-05 12:54] #27 closed

[2015-06-28 01:33] JacobEvelyn commented on #21
Closing for now given the heuristic of using the better friend added in dd96dba.

[2015-06-28 01:33] #21 closed

[2015-10-04 19:12] JacobEvelyn opened #34 "Be able to enter activity with normal prompt"
This lets us avoid annoying things like the shell interpreting characters like `(` and `!`.

[2015-11-11 03:44] JacobEvelyn commented on #34
Added with https://github.com/JacobEvelyn/friends/commit/e8c6c5a3ab77e4cba7b97966a2020a93972f53dd and https://github.com/JacobEvelyn/friends/commit/33d3b6807fcdd92d35029a0820dc919a7dd0ec3f.

[2015-11-11 03:44] #34 closed

[2015-11-11 03:47] #25 closed

[2015-11-11 03:47] #17 closed

[2015-11-11 03:47] #16 closed

[2015-11-11 03:47] #8 closed

[2015-11-15 04:59] JacobEvelyn opened #35 "The same name is only highlighted once per description"

[2016-01-03 17:37] JacobEvelyn opened #36 "Add command to retrieve basic stats"
Something like `friends stats` could easily return interesting information like:

[code]

The format may need some tweaking but the basic idea would be fairly simple to implement.

Inspired by [this comment](https://news.ycombinator.com/item?id=10831091).

[2016-01-03 17:41] JacobEvelyn opened #37 "Activities added on the same day have their order reversed"
This is easy to fix—we just need to prepend the new activity instead of appending it.

[2016-01-03 18:12] #37 closed

[2016-01-03 18:27] niklasfi opened #39 "Support Ruby 1.9?"
Hi, it seems, you're missing an `# encoding: utf-8` somewhere:

    /usr/local/bin/friends:23:in `load': /var/lib/gems/1.9.1/gems/friends-0.5/bin/friends:151: invalid multibyte char (US-ASCII) (SyntaxError)
    /var/lib/gems/1.9.1/gems/friends-0.5/bin/friends:151: invalid multibyte char (US-ASCII)
    /var/lib/gems/1.9.1/gems/friends-0.5/bin/friends:151: syntax error, unexpected $end, expecting ']

[2016-01-03 19:12] JacobEvelyn commented on #39
Thanks so much for flagging this! I hadn't noticed this because the magic comments aren't necessary  in later versions of Ruby (I think) that I've been using for development. I'll see what I can do about making this codebase work on older versions of Ruby (I believe this and named parameters are the only issues).

In the meantime, if you run with a later version of Ruby it should work fine for you

[2016-01-03 19:41] changecase opened #40 "Reference friends by real name or nickname"
Adding an activity with The Dude should be captured as an activity with Jeffrey Lebowski.

[code]

Reporting on activities with a friend should work if you use their nickname.

[code]

[2016-01-03 19:47] balinthaller opened #42 "Support Ruby 2.0?"
Hey,

I'm not really familiar with the ruby ecosystem. I get the following error when trying to run any of the commands:
[code]
I tried updating ruby using homebrew, but the error persists.

[2016-01-03 19:58] JacobEvelyn commented on #42
Thanks for the bug report; I just noticed this myself. (It hadn't come up in development because Ruby versions 2.1+ don't produce this error, which is what I was using for development). I haven't gotten a chance to dig into the issue yet (it's likely very small) but in the meantime I've set a minimum Ruby version of 2.1 as a gem dependency in version 0.6.

If you have Ruby 2.1 you should be fine o

[2016-01-03 20:04] JacobEvelyn commented on #40
Thanks for the suggestion! This has been in my backlog for a while now but I've been unable to land on the specifics of how best to store nicknames internally and add/remove them from friends.

I'm leaning towards something like this:

[code]

or this:

[code]

The first one feels a little bit more natural (as it's not uncommon to see nicknames written that way), but the second does allow for mult

[2016-01-03 20:09] changecase commented on #40
My thoughts were along the second form. You are right though, the first form is way more natural.

Maybe something like this?

[code]

It uses a lot more characters, but returns some of the natural feel.

[2016-01-03 20:09] JacobEvelyn commented on #42
Ah, it looks like this is caused by the keyword method arguments I'm using, which I had thought were supported in Ruby 2.0 but the way I'm using them they're only in 2.1+. Would it be possible for you to update your Ruby version to 2.1 (or have multiple versions installed on your system)?

[2016-01-03 20:12] JacobEvelyn commented on #39
So it looks like based on this and the named parameters I'm using, the code as-is only works with Ruby 2.1+. I'll think about whether I think the benefits of porting this to older versions of Ruby are worth the code muddying (and I'm definitely open to being persuaded that they are).

In the meantime, would it be possible for you to upgrade your version of Ruby to 2.1 (or have multiple versions in

[2016-01-03 20:13] JacobEvelyn commented on #40
I like that! I'll see if I can get a basic nickname system working in the next day or so.

[2016-01-03 20:23] changecase commented on #40
Awesome. Thanks!

[2016-01-03 20:24] MichalPokorny opened #43 "Documentation link doesn't work"
Hi! What it says on the tin: the link to `http://www.rubydoc.info/JacobEvelyn/friends` in the README leads to a 404.

[2016-01-03 20:41] JacobEvelyn commented on #43
Interesting; I'll see what happened to this.

[2016-01-03 20:44] #43 closed

[2016-01-03 20:45] JacobEvelyn commented on #43
Fixed! Look like RubyDocs changed their URL formatting at some point.

[2016-01-03 21:03] balinthaller commented on #42
I installed rbenv, and 2.2.3, but it seems like the friends command is still trying to use 2.0. Trying to get around that now.

[2016-01-03 21:04] JacobEvelyn commented on #42
You might have luck with `gem update friends`.

[2016-01-03 21:06] niklasfi commented on #39
It appears, there is no 2.1 package for my distro (ubuntu lts). I only have 2.0, so 1.9 support (or even 2.0) would be great.

[2016-01-03 21:18] balinthaller commented on #42
`gem update --system` solved the problem! (After updating to 2.2.3 using rbenv)

[2016-01-03 21:18] #42 closed

[2016-01-03 21:18] JacobEvelyn commented on #42
Glad to hear it!

[2016-01-03 21:19] balinthaller commented on #42
Thanks for the fast replies, hope this helps others with stock ruby.

[2016-01-03 21:25] JacobEvelyn commented on #42
No problem!

[2016-01-04 11:07] steko opened #44 "Error: undefined method `n_activities' for nil:NilClass"
[code]

My `friends.md` is very simple since I just added a few activities to test the app.

[2016-01-04 13:27] JacobEvelyn commented on #44
Interesting, thanks for the bug report. I'll dig into this later today.

[2016-01-04 13:45] changecase commented on #44
I was getting this error when I had few friends listed as well. I can reproduce it while there are fewer than 7 friends.

[2016-01-05 01:05] fire commented on #40
Can you rename friends (to add nicknames for instance?)?

[2016-01-05 03:23] changecase commented on #40
That sounds great! Maybe a separate issue?

[2016-01-05 03:23] changecase opened #47 "Edit friend information from command line"
Allow users to edit friend information without directly opening `friends.md`.

This might look something like (assuming Jeffrey Lebowski starts off without any nicknames):

[code]

In reference to https://github.com/JacobEvelyn/friends/issues/40#issuecomment-168859530

[2016-01-05 03:26] JacobEvelyn commented on #47
Yep, I was planning on incorporating this into the nickname work but definitely good to make it explicit. Thanks!

[2016-01-05 03:27] JacobEvelyn commented on #40
Since some people (like myself) already have friends added I think it's probably easier to start with nicknames only being added, actually. That might be easier than having to remember how to specify a nickname when adding a friend initially, getting the syntax wrong, and ending up with the nickname being treated as part of the formal name.

Would love to hear thoughts here!

[2016-01-05 04:56] #44 closed

[2016-01-05 04:56] JacobEvelyn commented on #44
This should be fixed now. I'll release a new gem version in a bit. Thanks for the report!

[2016-01-05 04:57] changecase commented on #47
No problem!

[2016-01-05 05:00] changecase commented on #40
That sounds great. Then, if you later allow for assigning nicknames at friend creation, you'll probably be able to make use of both parts.

[2016-01-05 05:02] JacobEvelyn commented on #40
Exactly!

On Tue, Jan 5, 2016 at 12:00 AM, Jeff Jacobson-Swartfager <
notifications@github.com> wrote:

[2016-01-05 05:17] JacobEvelyn commented on #47
Implementation-wise, I'm treating this as a duplicate of #40.

[2016-01-05 05:17] #47 closed

[2016-01-05 05:32] JacobEvelyn commented on #44
This is fixed in version 0.7!

[2016-01-06 05:28] #40 closed

[2016-01-07 04:50] #36 closed

[2016-01-07 04:55] JacobEvelyn opened #56 "Integrate with cron for regular reminders"
I'm a little hazy on what this would actually look like, but I think in its most basic form it would probably be two commands for adding/removing `friends suggest` from your `crontab` (all from within the `friends` program).

[2016-01-07 05:20] JacobEvelyn opened #57 "Cleanly separate Introvert from non-library concerns"
Right now, `Introvert` has a lot of impure behavior, like writing files in the middle of lots of methods, and opening up command prompts. These should all be moved to `bin/friends`, or possibly an in-between class (`Extrovert`?).

[2016-01-07 05:48] JacobEvelyn opened #58 "Remove require_relative from codebase"
It's ugly and doesn't play nicely with things like Opal.

[2016-01-07 05:52] #58 closed

[2016-01-07 05:55] JacobEvelyn opened #60 "Don't write files in middle of commands"
We can simplify the file-writing logic a lot by simply making it a `gli` post hook that file-modifying commands execute. This also helps with #57 by removing a lot of file I/O from `Introvert`.

[2016-01-07 06:08] #60 closed

[2016-01-07 06:12] JacobEvelyn opened #62 "Add --debug flag for error backtraces"

[2016-01-07 06:15] #62 closed

[2016-01-07 06:31] #57 closed

[2016-01-09 18:42] JacobEvelyn commented on #39
Would this work for you? http://stackoverflow.com/a/33064386/1103543

I'd rather not backport this code to older versions of Ruby without a lot of interest.

[2016-01-09 18:46] JacobEvelyn opened #65 "Allow dates in natural-language formats"
Instead of `YYYY-MM-DD`, users should be able to use phrases like "yesterday" or "two Tuesdays ago," as in `git`.

Likely the best way to incorporate this functionality: https://github.com/mojombo/chronic/

[2016-01-09 18:55] JacobEvelyn opened #66 "Add location data to friends"
There are a lot of ways this could be incorporated:

- Optionally add a location to each friend
- Optionally add a location to each activity
- Automatically add a location to each activity (using the `geocoder` gem)
- Allow `suggest` and `list friends` and `list activities` filters by location

Would love to hear thoughts on what people would find useful.

[2016-01-12 01:15] JacobEvelyn opened #68 "Add change name command"
Should be pretty straightforward.

[2016-01-12 01:17] JacobEvelyn opened #69 "All command-line arguments should result in prompts if not supplied"
It would be nice to allow this, similar to how activity descriptions can be entered via prompt, but for all commands. So I could just say `friends graph`.

[2016-01-12 02:01] bloomyminded commented on #68
I'd like to tackle this one

[2016-01-12 02:05] JacobEvelyn commented on #68
Perfect! Let me know if you need any guidance.

[2016-01-12 02:08] bloomyminded commented on #68
Thanks jacob, will do.

[2016-01-12 08:12] GuruKhalsa commented on #35
I'll work on this if it's still up for grabs.

[2016-01-12 12:52] JacobEvelyn commented on #35
Closed with @GuruKhalsa's PR #70.

[2016-01-12 12:52] #35 closed

[2016-01-12 17:14] lluchs opened #71 "Date gets duplicated with each new activity"
[code]

(The example isn't as minimal as it could be, because I suspected it was related to the amount of friends you specify, but I hope it's clear enough.)

[2016-01-12 19:26] JacobEvelyn commented on #71
Yikes! Thanks for spotting this; I'll look into it tonight.

[2016-01-12 20:17] akleemans commented on #71
Experiencing the same behaviour (0.10):

    Friend added: "Anton"

    Activity added: "2016-01-12: Skateboarding with Anton"

    Friend added: "Berta"

    2016-01-12:  2016-01-12:  2016-01-12: Skateboarding with Anton

[2016-01-13 01:35] bloomyminded commented on #68
I'm having an error with Rubocop on several lines I haven't touched. Suggestions?

[2016-01-13 03:52] JacobEvelyn commented on #71
Sorry for the delay! Looking into this now.

[2016-01-13 03:54] JacobEvelyn opened #72 "friends update doesn't correctly compare version numbers"
`friends update` treats `0.10` as being less than `0.9`, because they're compared as rationals.

[2016-01-13 03:55] JacobEvelyn commented on #71
I'm going to `yank` this version from RubyGems.

[2016-01-13 04:01] JacobEvelyn commented on #71
Looks like this is a problem with the changing of the `Activity` deserialization regex. I've got a fix on its way.

[2016-01-13 04:14] #71 closed

[2016-01-13 04:14] JacobEvelyn commented on #71
I'll bundle this into version 0.11 in a few minutes.

[2016-01-13 04:23] JacobEvelyn commented on #68
Ah sorry I didn't see this in time. Glad you figured it out, and let me know if any other issues crop up.

[2016-01-13 04:27] #72 closed

[2016-01-13 04:34] JacobEvelyn commented on #71
This is released. Note that because of #72 you'll have to do a normal `gem update friends && gem cleanup friends` instead of just `friends update`. That issues has also been fixed in version 0.11.

[2016-01-15 11:35] niklasfi commented on #39
@JacobEvelyn thank you for your help. I guess I'll just wait three months until the new LTE comes out… looking forward to it though :)

[2016-01-15 11:41] JacobEvelyn commented on #39
Sorry to hear that @niklasfi. I'll let you know if this changes but as of now I don't have plans to support older versions. I know that's frustrating, and I apologize! :cry:

[2016-01-15 11:41] #39 closed

[2016-01-16 15:37] JacobEvelyn commented on #68
Done with #75.

[2016-01-16 15:37] #68 closed

[2016-01-16 15:39] JacobEvelyn opened #76 "Add examples for rename command in README"
Related to #68 and #75.

[2016-01-16 15:49] #76 closed

[2016-01-16 20:42] bloomyminded opened #78 "4 RuboCop errors prevent git commit"
Current master has four RuboCop errors that prevent a git commit without skipping.  These are not of great importance but I feel the change is beneficial if not for style then at least to prevent confusion while contributing.

[2016-01-16 21:10] JacobEvelyn commented on #78
Thanks for doing this! My Overcommit/Rubocop setup has been a bit broken recently because of https://github.com/brigade/overcommit/issues/315, so I've sadly gotten used to skipping validations.

I really appreciate this change though!

[2016-01-17 01:24] bloomyminded commented on #78
No problem.  I had never used RuboCop or overcommit before so it was a bit confusing.  Apparently it only prevents a commit if one of the files has an error.  This is why running rubocop in the directory produced far more offenses.

[2016-01-18 04:57] JacobEvelyn commented on #78
Fixed in #79.

[2016-01-18 04:57] #78 closed

[2016-01-19 23:28] niklasfi opened #80 "Treat double names as a single name"
In Germany, it is quite common to have double names (e.g. first names consisting of two first names). Unfortunately, their use currently leads to garbled output. Here is an example:

    friends add friend "Anna-Lena Mustermann"
    friends add friend "Lena Test"
    friends add activity "went fishing with Anna-Lena"

that last command outputs

    Activity added: "2016-01-20: went fishing with An

[2016-01-20 03:10] JacobEvelyn commented on #80
Hey @niklasfi, glad you got it working! Thanks for the bug report; you're right that this is a problem and not at all what's intended. The slight problem is that at least in my own experience it's not uncommon for names to have en dashes/minus signs next to them in normal writing. (As one example, I've seen lots of people use two en dashes, `--`, to serve as an em dash, particularly with monospace

[2016-01-21 03:49] JacobEvelyn commented on #80
This ended up being trickier than I thought, but kind of fun to puzzle through as well. :smiley:

[2016-01-21 03:49] #80 closed

[2016-01-21 03:54] JacobEvelyn commented on #80
This is fixed in version `0.13`, which I just released to RubyGems. Get it with `friends update` and you should be good to go!

[2016-01-25 11:56] natejlong commented on #56
This would be super useful; how were you thinking the reminders should be displayed? Desktop notifications, popping up new terminals, emails?

[2016-01-26 02:39] JacobEvelyn commented on #56
I'm very open to suggestions, @natejlong! What would you find most helpful?

Also, short of sending an HTTP request to a server, are there easy ways you can think of to make this cross-platform without a long-running Ruby process? Or maybe a long-running Ruby process isn't so bad?

[2016-01-26 10:27] natejlong commented on #56
Personally, I would find email notifications to be the best option, and this has the added benefit of hooking right into how cron already sends notifications.

What do you mean by cross-platform?

I would prefer having it pass off all of the long-running scheduling work to cron, but looking around at the gems that fit the bill ([whenever](https://github.com/javan/whenever)) it seems like that stil

[2016-01-26 16:23] natejlong commented on #66
Having a location tied to each friend would be useful, but I think tying a location to each activity would be less so. Tracking friends' locations has the obvious use case of letting you filter by location, but I don't see any similar case for the activities. Maybe I'm just coming at this from a different perspective, what did you have in mind?

[2016-01-28 14:11] JacobEvelyn commented on #56
Sorry for the slow response. So I've actually played a bit with `whenever` in the past and from what I remember I think it could work with some hackery. I agree that `cron` is nice as an alternative to a long-running Ruby process, but by cross-platform I meant "runs on Windows." I don't want to throw users under the bus because they don't have `cron`, though maybe that's a concern for later on dow

[2016-01-28 14:13] JacobEvelyn commented on #66
I didn't think too deeply about these use cases, but for the activity locations I was thinking about answering the question "What did I do on my trip to Ontario?" The answer being: `friends list activities --in Ontario`

[2016-01-28 20:52] natejlong commented on #65
I can do this, should be a good task to start with!

[2016-01-28 23:28] natejlong commented on #56
Ah okay, yeah that makes sense. At this point I think the best way to solve it is by including documentation of how to set it up as a cron job and leaving the code untouched. From looking at ```whenever```, it seems like all it does is write to the crontab automatically. For a job as simple as this, it might be enough to just include instructions on how to set it up with cron completely manually a

[2016-01-29 00:55] JacobEvelyn commented on #65
Perfect, thanks so much! Let me know if you need any help!

[2016-01-31 20:42] JacobEvelyn commented on #56
Okay, I'll keep playing around with this. Thanks for the input! (And input from others is still very much welcome!)

[2016-03-11 20:54] #65 closed

[2016-03-11 21:02] JacobEvelyn commented on #65
@natejlong sorry if you were still working on this, but it had been a while and I wanted to get the feature out the door so I went ahead and implemented it. Let me know if you have any questions, and I hope you can contribute in the future!

[2016-03-12 23:11] natejlong commented on #65
Hey @JacobEvelyn , sorry about that; other work has been taking up my time. I will absolutely contribute in the future, I was actually planning my own similar system when I happened to come across yours. Thanks for your work!

[2016-03-15 22:05] andypearson commented on #69
I'd be interested in digging in to this a little bit as I've been using `friends` quite a lot recently.

One thing I'm wondering, in the case of things like `graph` it could default to generating a graph of all your activities, which is then "filtered" by passing in the first argument.

[2016-03-15 22:49] andypearson commented on #66
I've started recording activities like:

    Drinking Grog in The Scumm Bar with Guybrush and Elaine

Locations could be implemented just like friends, below is an example `friends.md`

    ### Activities:
    2016-02-15: Drinking Grog on __Melee Island__ with **Guybrush Threepwood** and **Elaine Marley**

    ### Friends:
    - Elaine Marley
    - Guybrush Threepwood (a.k.a Flybrunch)

    ### Lo

[2016-03-16 02:40] JacobEvelyn opened #83 "Allow `graph` without arguments to graph all activities"

[2016-03-16 02:46] JacobEvelyn opened #84 "Should the "more than one friend found" errors be replaced by a best guess?"
When I type `friends list activities --with John` or `friends graph John` it's annoying to get this error:

[code]

It might be nicer if `friends` automatically picked the friend with more activities in these cases, but I can see arguments in favor of keeping the current system as-is as well. I think I'm leaning towards this idea because much of the philosophy of `friends` is to let the program si

[2016-03-16 02:49] JacobEvelyn commented on #69
Ah, that's an interesting use case of `graph` that I hadn't thought of, and it kind of throws a wrench in this feature since `friends graph` was one of the main motivations (though `friends add friend` is still another where it would be useful).

I just made #83 (which it sounds like you may be interested in working on?) to address your `graph` suggestion—it's yours if you want it!

I'm also inter

[2016-03-16 03:26] JacobEvelyn commented on #66
@andypearson Your proposal looks a lot like what I've been thinking about (though I've had fewer Monkey Island references in my thoughts :wink: ). I'm not totally sure I buy the need for lat/long coordinates, especially if something like [`geocoder`](http://www.rubygeocoder.com) could do lookups when needed, but I think we'll get a sense for that as the features are built out and used (e.g. is it

[2016-03-16 04:27] natejlong commented on #66
I like the idea of treating locations like friends. That seems very lightweight and flexible, and I agree with your concerns about locations being too "heavy", @JacobEvelyn.

The only issue I have is that treating locations as unique entities is a bit simplistic. If I record ```got coffee with Paul Revere at Fanuel Hall```, it would be nice if that activity showed up when searching for activites `

[2016-03-17 23:32] andypearson commented on #83
I'll take this!

[2016-03-17 23:36] andypearson commented on #84
This could be solved with a second "suggestion" step:

    $ friends list activities --with John

    Which John?
    1. John Deere
    2. John Doe

[2016-03-17 23:39] andypearson commented on #69
I'm up for making #83 my first PR :)

I haven't had a review of all commands, but I was wondering if it's possible to adopt a common pattern where all "read" commands have a sensible "unfiltered" result, which you can then refine using additional arguments and all "write" commands provide an interactive way of completing the full command.

[2016-03-19 04:01] JacobEvelyn commented on #83
Perfect, thanks! Let me know if you have questions or if I can help in any way!

[2016-03-19 04:03] JacobEvelyn commented on #69
I think both of those ideas make sense; the latter is really what I was getting at with this issue originally.

[2016-03-19 04:22] JacobEvelyn commented on #84
I've thought about that as well. It seems nice on the surface but I don't love the fact that it differs from the auto-matching paradigm of adding activities and yet isn't much easier than writing a friend's full name out. I go back and forth though and could probably be convinced in either direction.

[2016-03-20 16:55] JacobEvelyn commented on #66
That's an interesting idea @natejlong but I worry it's adding a lot of complexity when treating locations as unique entities might be good enough for 99% of the use cases. The nesting structure you describe could also be added later if need be so I hesitate to add it now.

[2016-03-21 03:15] natejlong commented on #56
@JacobEvelyn, I played around with setting up cron reminders, but decided not to pursue it further. Setting up automatic emails required setting up postfix or some other email server, and I didn't want to go down that rabbit hole. I also didn't like the UX of a random terminal or notification popping up at regular intervals.

I use Emacs' Org-mode to manage my todos, so I decided to just track rem

[2016-03-22 21:56] andypearson opened #86 "Using bin/friends during development"
Whilst working on #83 I discovered running `bin/friends` refers to the version of the gem that you have installed rather than the one within the repository.

I changed:

    require "friends/introvert"
    require "friends/version"

To:

    require_relative "../lib/friends/introvert"
    require_relative "../lib/friends/version"

And that seems to do the trick.

It makes sense to me that it would

[2016-03-22 22:14] andypearson commented on #83
I'm not sure if it's possible to make the PR appear here, but, I've done one!

[2016-03-22 22:45] andypearson commented on #66
This all sounds good!

I think `--in Boston` might just be `--near Boston` with a tighter search radius, but as they are locations I think dealing with them using distance comparison is the way to go.

I've been thinking about how tagging (hashtags, in particular) could also work, so maybe you could add `Fanuel Hall #boston` and then you can `--tagged boston` but this is a big aside!

I'd be keen

[2016-03-22 22:52] andypearson commented on #84
I'm not sure I have a solid case in either direction!

Interestingly, I added an activity the other day and expected "David B" to find me the correct David but it found the wrong David and I ended up with an extra "B" in my activity.

This doesn't help in your particular example, but in most cases it'd greatly increase the chance of finding a unique name.

[2016-03-22 23:11] JacobEvelyn commented on #83
Yep I see the link from here, thanks!

[2016-03-22 23:18] #83 closed

[2016-03-22 23:28] JacobEvelyn opened #87 "Allow friends to be found with first name and last name initial"
"Earnest H" should correctly be turned into `**Earnest Hemingway**` instead of `**Earnest Hemingway** H` or `**Earnest Shackleton** H`.

**Open question 1**: is there an elegant way to handle periods (e.g. "Earnest H. and I went to the store" and "I went to the store with Earnest H. We both love shopping.")? Off the cuff it might be easy enough to include the period in the "name" if it's followed

[2016-03-22 23:29] JacobEvelyn commented on #84
That's a great use case. I just created #87 for implementing that (and would love your thoughts on the open questions I posed in that issue).

[2016-03-22 23:36] JacobEvelyn opened #88 "Filter activities based on more than one friend/tag/etc."
It could be nice to be able to filter activities like so: `friends list activites --with Jessie --with James` (or some other syntax). This should possibly also be allowed for locations (#66) or tags (#89).

**Open question**: should multiple flags return the _union_ of activities that match or the _intersection_?

[2016-03-22 23:37] JacobEvelyn opened #89 "Add hashtag capabilities to activities"
It would be nice to be able to do something like this:

`friends add activity "Went for a run. #exercise"`

and then later filter activities like:

`friends list activities --tagged exercise`

or

`friends list activities --with James --tagged restaurants`

For now this would only support one tag to be passed to the `--tagged` argument (see #88 for more details on lifting that limitation).

[2016-03-22 23:38] JacobEvelyn commented on #66
@andypearson great suggestion on hashtags; I've made #89 for that enhancement.

I agree that points 1-5 get us 90% of the way there and would be good (and fairly simple) to do regardless of what happens on the geocoding front.

[2016-03-22 23:40] JacobEvelyn commented on #86
I haven't had this problem when using `bundle exec bin/friends` for local development. Have you tried that? If that works for you I'll note that in the `CONTRIBUTING.md` file.

[2016-03-23 00:16] JacobEvelyn commented on #83
I've just released this in version 0.16.

[2016-03-25 16:56] andypearson commented on #83
Awesome! Cheers @JacobEvelyn!

[2016-03-25 17:40] andypearson commented on #86
Whoops! `bundle exec bin/friends` works great, sorry for the false alarm!

[2016-03-25 17:41] andypearson commented on #89
I'd like to be able to tag friends as well, so I can search for people that I worked with, or people I know from school.

[2016-03-25 17:57] andypearson commented on #88
I'd say it should be an intersection by default, it just feels like you'd be trying to make your filtering more specific. Maybe there should be a way of switching to union as well though with an additional flag?

Comma separated could also work as a syntax:

    friends list activites --with "Jessie, James"
    friends list activites --with-any "Jessie, James"

[2016-03-25 17:59] andypearson commented on #66
Yup, sounds good to me!

[2016-03-25 19:02] andypearson commented on #87
1. I'm not keen on having to rely on precise capitalisation to work out whether the period should or shouldn't be included, but I also don't like the idea of a non-natural syntax like `Earnest[H]`. We might have to start playing to see what kinds of edge cases emerge.

2. I'm not even sure how both of those examples would be naturally initialised to begin with!

[2016-03-25 19:05] andypearson commented on #84
The other way of getting around this would be to encourage the user to create a nickname for one of the Johns.

[2016-03-25 20:11] JacobEvelyn commented on #86
Good to hear! Just added https://github.com/JacobEvelyn/friends/commit/bb58eb8b8af647591cdd640de65334177bc4bbef?short_path=6a33714#diff-6a3371457528722a734f3c51d9238c13 to clarify this a bit.

[2016-03-25 20:11] #86 closed

[2016-03-25 20:20] JacobEvelyn opened #90 "Add hashtag capabilities to friends"
So a friend could be a `#work` friend or a `#family` friend, and they could be combined like:

[code]

@andypearson is this what you were thinking?

[2016-03-25 20:21] JacobEvelyn commented on #89
Ah interesting, so you're saying there might be friends under the `#work` tag as well as activities under the `#work` tag. That makes sense to me. I just created #90 for this; let me know if that looks like what you were thinking.

[2016-03-25 20:24] JacobEvelyn commented on #88
Yeah I buy that. So the PR here would be to add multiple `--with` tags (I prefer this syntax, so long as GLI doesn't make it hard) for an intersection search and an optional `--any` tag to switch to a union search.

[2016-03-25 20:36] JacobEvelyn opened #91 "Have a way to correct mistakes?"
Though `friends` generally gets things right (and issues like #87 will improve that), sometimes it picks the wrong friend, or thinks you're talking about a friend when you're really talking about "Joe's Diner." It might be helpful to be able to edit activities through `friends` to correct mistakes like these.

Some possibilities include:

- `friends undo`
  - Undo the most recent `add activity` (o

[2016-03-25 20:39] JacobEvelyn opened #92 "Improve documentation"
The `README.md` is getting a bit out of hand, and will only get worse as new features are added. It could be helpful to add a table of contents with internal links within the README. Another approach would be to trim down the README and use GitHub's wiki.

Thoughts welcome.

[2016-03-25 20:41] andypearson commented on #88
Sounds good to me!

[2016-03-25 20:41] andypearson commented on #90
Yup, this is exactly what I was imagining!

[2016-03-25 20:42] andypearson commented on #86
Nice!

[2016-03-25 20:48] JacobEvelyn opened #93 "Update documentation for `graph` and `stats` commands"
Should be updated to include the usage added in #83

[2016-03-25 22:32] JacobEvelyn opened #94 "Add backwards-compatible ### Locations: heading to friends.md file."

[2016-03-25 22:32] JacobEvelyn opened #95 "Add `add location` command"

[2016-03-25 22:33] JacobEvelyn opened #96 "Add `list locations` command"

[2016-03-25 22:34] JacobEvelyn opened #97 "Add location matching to activity descriptions"
My not-thought-through-at-all vote would be for single underscores: `_The Eiffel Tower_`

[2016-03-25 22:36] JacobEvelyn opened #98 "Add command to add locations to friends"
Open question: should friends be allowed to have more than one location? I don't see a compelling reason not to allow this.

[2016-03-25 22:37] JacobEvelyn opened #99 "Add --in location flag to `list friends`"

[2016-03-25 22:38] JacobEvelyn opened #100 "Add --in location flag to `list activities`"

[2016-03-25 23:02] #94 closed

[2016-03-25 23:04] #93 closed

[2016-03-26 00:34] #96 closed

[2016-03-26 00:34] #95 closed

[2016-03-26 00:37] JacobEvelyn commented on #66
Cool. I've implemented what should be the trickiest parts of this (numbers 1-3) and will tackle the rest either later this weekend or early next week. I've gone ahead and made issues for the remaining components.

[2016-03-26 00:40] #97 closed

[2016-03-26 14:32] andypearson commented on #66
Awesome!

[2016-03-27 21:03] JacobEvelyn opened #105 "Allow locations to be renamed"

[2016-03-27 22:37] JacobEvelyn opened #106 "Add --in flag to `suggest`"

[2016-03-28 02:56] natejlong commented on #91
I know this is kind of a non-solution, but adding a `friends edit` which just opens the friends file in `$EDITOR` may be the best way to deal with this. I think the simplicity of the friends.md structure that you designed makes this acceptable, and avoids having to get bogged down in turning `friends` from a markdown file into a pseudo-database. I find myself often making quick fixes or bulk edits

[2016-03-28 12:34] JacobEvelyn commented on #98
Note: I decided to limit friends to just one location for simplicity. This can always be changed later if it doesn't handle some use case.

[2016-03-28 12:45] #106 closed

[2016-03-28 12:45] #98 closed

[2016-03-28 12:45] #99 closed

[2016-03-28 12:45] #100 closed

[2016-03-28 12:45] #105 closed

[2016-03-28 12:53] JacobEvelyn commented on #66
Okay, the rest of this (minus any geocoding fanciness) is implemented and I've released v0.17. @andypearson @natejlong would love to hear what you guys think!

[2016-03-28 16:32] andypearson commented on #66
Awesome! I've extracted all of my locations as proper things and the highlighting is working great. I'll let you know how I get on with it!

It'd be cool to `graph` locations, and also see favourite locations (adding a new favourite command makes sense). I'd be up for picking these up next, unless there's something else you'd like me to look at?

[2016-03-28 23:37] JacobEvelyn opened #108 "Add command to list favorite locations"

[2016-03-28 23:38] JacobEvelyn opened #109 "Add `graph` command for locations"

[2016-03-28 23:39] JacobEvelyn commented on #66
Listing favorite locations makes a lot of sense; I've just created #108 for that. By `graph`ing locations I'm assuming you mean with output similar to the existing graph? If so I made #109. In the long run it would be neat to think about an ASCII-rendered map, but that feels a little overboard for now. :)

[2016-03-29 03:18] JacobEvelyn commented on #91
Interesting; that's a neat approach that I hadn't thought of before. At the very least it could serve as a solution for the time being and if the need for more specialized commands arises those could be added as well. I like this!

[2016-03-29 03:20] JacobEvelyn commented on #91
So to be clear, this change will now be to just add a `friends edit` command which opens the friends file in `$EDITOR` (falling back to `vim` if undefined, as is typical). Up for whoever wants to take it!

[2016-03-31 19:33] andypearson commented on #109
I've already hung out with `graph` a bit, so I'll take this!

[2016-03-31 22:45] JacobEvelyn commented on #109
Sounds great! As always, let me know if you have any questions.

[2016-05-01 23:04] JacobEvelyn opened #111 "Nicknames including first names should match over first name"
If `Grace Hopper` is nicknamed `Amazing Grace` ([as she was](https://en.wikipedia.org/wiki/Grace_Hopper)), then the activity description `Went rollerskating with Amazing Grace` should convert to `Went rollerskating with Grace Hopper` instead of `Went rollerskating with Amazing Grace Hopper`.

[2016-05-01 23:04] #92 closed

[2016-05-01 23:30] #91 closed

[2016-05-01 23:50] JacobEvelyn commented on #91
This has been added in version 0.18.

[2016-05-01 23:52] #111 closed

[2016-05-02 01:22] #87 closed

[2016-05-02 01:23] JacobEvelyn commented on #87
I just added this functionality (using the capitalization scheme I detailed above) in version 0.18. I'm very interested to hear how it works for you!

[2016-05-02 03:24] #108 closed

[2016-05-02 03:29] JacobEvelyn commented on #109
@andypearson are you still interested in working on this? If not I might try to knock it off this week.

[2016-05-02 11:35] andypearson commented on #109
I am, but life caught up with me. Feel free to do it first if you fancy, I'm not going to have time this week but should be back to pick a few things sometime soon!

[2016-05-02 12:32] JacobEvelyn commented on #109
Cool, thanks! I may try to work on other features first to give you more time here then.

[2016-05-06 12:13] JacobEvelyn opened #116 "Add `list hashtags` command"

[2016-05-06 12:18] JacobEvelyn commented on #66
Closing this issue, since the ideas from it have been turned into other issues.

[2016-05-06 12:18] #66 closed

[2016-05-08 20:19] JacobEvelyn opened #117 "Add --verbose option to `list friends`"
So when friends are listed you can optionally see their nicknames, locations, and hashtags.

[2016-05-08 20:38] JacobEvelyn opened #119 "Add --tagged option to `list friends`"

[2016-05-08 20:54] #89 closed

[2016-05-08 20:54] #90 closed

[2016-05-08 20:54] #116 closed

[2016-05-08 20:54] #117 closed

[2016-05-08 20:54] #119 closed

[2016-05-08 21:04] JacobEvelyn commented on #88
As specified above, this feature depends somewhat on this feature request I've made to GLI: https://github.com/davetron5000/gli/issues/240

I may make a pull request to GLI myself if I have time.

[2016-05-09 21:53] andypearson commented on #90
Super excited for this feature! Thanks for adding it :D

[2016-05-10 12:40] JacobEvelyn commented on #90
I'd love to hear how it works for you!

[2016-05-14 14:00] JacobEvelyn opened #120 "Remove need for quotes from `friends add friend`"
I should be able to run `friends add friend George Washington Carver` without needing quotes as in `friends add friend 'George Washington Carver'`.

[2016-05-14 14:05] JacobEvelyn opened #121 "Remove need for quotes from `friends add activity`"
I should be able to add activities in all of the normal ways, but without needing quotes, e.g.:

1. **Fully interactive**: `friends add activity` (this is unchanged)
2. **Partially interactive**: `friends add activity last tuesday` (no quotes needed around `last tuesday`)
3. **Non-interactive without date**: `friends add activity Went for a run.` (no quotes needed around `Went for a run.`)
4. **No

[2016-05-14 14:24] JacobEvelyn opened #122 "Change #hashtags to @tags"
Would love thoughts on this. One problem with `#hashtags` is they're considered comments in most shells, which means users might try to use something like `friends list friends --tagged #school` instead of the correct `friends list friends --tagged school` or `friends list friends --tagged '#school'`. Another issue is that when #121 is done, you won't be able to add an activity all in the command

[2016-05-14 15:51] #120 closed

[2016-05-14 15:52] JacobEvelyn commented on #121
Closed by #123.

[2016-05-14 15:52] #121 closed

[2016-05-14 16:48] JacobEvelyn opened #124 "Change `graph` to use `--with`, `--tagged`, and `--in` flags"

[2016-05-14 17:16] JacobEvelyn opened #125 "Output `list friends` in color"

[2016-05-14 17:39] andypearson commented on #124
I could have a look at this whilst I'm graphing locations...

[2016-05-14 17:57] andypearson commented on #122
To me `#tag` is additional meta data and `@tag` is a person. But I've been on Twitter since the early days :D

[2016-05-14 17:59] andypearson commented on #124
Having thought more (for a whopping 20 minutes), this is a much better way of allowing locations to be graphed, I think it supersedes #109 (which can probably be closed now).

[2016-05-14 20:00] JacobEvelyn commented on #122
Yeah I agree that `#tag` is a little more semantic given Twitter, but I keep getting frustrated by Zsh treating them as comments and not letting me use them without quoting everything.

[2016-05-14 20:06] andypearson commented on #122
Is it weird to support both formats for input?

[2016-05-14 20:09] JacobEvelyn opened #127 "Add integration tests for bin/friends?"
The code is pretty extensively unit-tested, but as @andypearson showed in #126, bugs can pop up in `bin/friends`. Integration tests could be helpful in preventing these sorts of errors in the future, but they could also not be worth the effort to maintain.

One related note I've been thinking about for the past few months is that since this codebase has effectively become a CLI and not a library u

[2016-05-14 20:13] JacobEvelyn commented on #122
Ha, I was thinking about that as well. Not too weird code-wise but I think if I saw that I'd wonder why there were two options instead of just one.

@andypearson would you be willing to take a look at the `email-tags` branch I wrote which changes tag behavior from `#tag` to `@tag` and automatically converts all tags in your `friends.md` file? I'd love to hear what you think after using it, especia

[2016-05-14 20:20] JacobEvelyn opened #128 "Fix `undefined variable "limit"` errors"

[2016-05-14 20:20] JacobEvelyn commented on #128
This was fixed by #126.

[2016-05-14 20:20] #128 closed

[2016-05-14 20:26] JacobEvelyn commented on #124
Yep, agreed. I'll assign this to you then!

[2016-05-14 20:27] JacobEvelyn commented on #109
This is no longer needed given #124.

[2016-05-14 20:27] #109 closed

[2016-05-14 20:38] andypearson commented on #124
Cool! Working on it now...

[2016-05-16 15:10] JacobEvelyn opened #130 "Add Gemnasium?"
Might be worth adding this? https://gemnasium.com

[2016-05-16 15:11] JacobEvelyn opened #131 "Add Rubocop check to tests?"
It might be nice to have travis also check the Rubocop style. See: https://github.com/JacobEvelyn/friends/pull/129

[2016-05-16 19:32] andypearson commented on #127
Do you have any experience with https://github.com/cucumber/aruba?

[2016-05-16 21:18] JacobEvelyn opened #132 "Add pronto?"
This might be a nice way to ensure that all PRs follow all of the right conventions: https://github.com/mmozuras/pronto

[2016-05-16 21:23] #124 closed

[2016-05-16 22:39] andypearson opened #133 "Uninitialized constant Friends::Activity::Set when graphing by tag"
Just spotted this (because I only just tagged all of my friends!)

[code]

[2016-05-16 22:44] andypearson commented on #122
Just started tagging some stuff, ran this:

[code]

Had to change it to:

[code]

Which is terrible! I am 100% behind a switch to `@tags`! :D

[2016-05-17 12:12] JacobEvelyn commented on #122
Hehe yep, that's exactly what converted me too :)

Will change soon.

[2016-05-17 12:13] JacobEvelyn commented on #133
Good catch! I'll take a look.

[2016-05-17 12:43] JacobEvelyn commented on #133
I'm not sure why this didn't happen in development (possibly something to do with the loading of development dependencies?) but I'm fixing this now. Note that this is another small vote in favor of more testing, though it would be easy to write integration tests that still didn't catch this (and possibly hard to write integration tests that *did* catch this, depending on where the underlying issue

[2016-05-17 12:43] JacobEvelyn commented on #127
I don't but thanks for the link! Looks like a great place to start!

[2016-05-17 12:46] #122 closed

[2016-05-17 12:46] #133 closed

[2016-05-17 12:51] JacobEvelyn commented on #133
This is fixed in version 0.24, which just released.

[2016-05-17 12:51] JacobEvelyn commented on #122
This is changed in v0.24, which just released. Note that the change auto-updates your old `#tags` into new `@tags` so no data will be lost.

[2016-05-17 22:18] andypearson commented on #122
Auto-updating worked a treat. It's looking good!

[2016-05-19 12:25] #131 closed

[2016-05-19 12:25] #132 closed

[2016-05-22 08:05] Andersos opened #136 "Error: stack level too deep"
VERSION -  0.24

I keep getting "Error: stack level too deep" on every command of this tool.

[code]

[code]

[2016-05-22 14:48] JacobEvelyn opened #137 "`friends update` can skip reading the friends.md file"
Since the `friends update` command doesn't need to look at the `friends.md` file at all, we can take advantage of `GLI`'s [`skips_pre` method](https://github.com/davetron5000/gli/wiki/Hooks#skipping-the-pre-block) to avoid the overhead of reading the file when we're just trying to update the program.

[2016-05-22 14:51] JacobEvelyn commented on #136
Thanks for the bug report, @Andersos! I'll work on resolving this right away. Since I can't reproduce it, I'm wondering if your `friends.md` file has something formatted incorrectly (either from manual editing or due to a bug in the code) that's making it go into a recursive spiral. That's also consistent with you seeing errors on every command, since every command reads the file. (As a side note,

[2016-05-22 15:15] Andersos commented on #136
Thanks for the answer. I wanted to test the tool. Following the Readme I ran `gem install friends` then started to use the commands. Right away from the beginning this error turned up. After reading more in the Readme I thought I needed to create a file so I ran the command `friends --filename ./friends.md`. That didn't make anything better so I ended up coming here creating this issue.

My `frien

[2016-05-22 17:52] JacobEvelyn commented on #136
Thanks so much for the detailed review! I'm looking into this now.

[2016-05-22 18:27] JacobEvelyn commented on #136
Ah, I found the issue. I had code that migrated tags from the old format (`#tag`) to the new format (`@tag`) that involved re-parsing the file, and if you didn't already have at least one friend and one activity then you'd end up in an infinite loop of parsing the file.

This is another vote in favor of basic integration tests à la #127.

[2016-05-22 18:29] JacobEvelyn opened #139 "Remove tag-migration code for 1.0 release"

[2016-05-22 19:47] Andersos commented on #136
Wow, great. Thanks for having a look. I'm really glad we, read you, found these things. Luckily some of them were known already. I'm also glad you marked some of the issues with "upforgrabs" making it easy for new people, to the project, to help out. I was afraid to post the issue but you have been very friendly so thanks for being a good human ⭐

I'm looking forward to playing more with the tool

[2016-05-22 20:52] andypearson commented on #136
@JacobEvelyn I've stumbled here trying to reproduce another bug I think I've found (more on that later!)

I'm seeing the same thing that @Andersos is getting when running `bin/friends` on your `infinity` branch, so it looks like that doesn't quite sort the issue...

Let me know if I can be of assistance!

[2016-05-22 22:34] #139 closed

[2016-05-22 22:40] JacobEvelyn commented on #136
@Andersos Thanks for your patience. I found a problem with my original approach so I just ended up removing the troublesome code as it was only used for migrating people on a previous version. I've just pushed a fix up (version 0.25)—please let me know if it works for you! I'll keep this issue open until I hear that things are resolved.

@andypearson I'd love to hear more about what bug you were i

[2016-05-22 22:56] andypearson commented on #136
Yup, I'll make a new ticket.

And false alarm, 0.25 seems to fix all of the stack level issues!

[2016-05-22 23:05] andypearson opened #140 "Adding/filtering friend with tag but no nickname incorrectly counts the tag as part of the name"
With the following `friends.md`

[code]

When filtering, you can't get activities if the friend has a tag but NOT a nickname:

[code]

In addition, including the name of a friend that has a tag but not a nickname when adding an activity seems to count the tag as part of their name:

[code]

The activities list then looks like:

[code]

[2016-05-22 23:06] andypearson commented on #140
@JacobEvelyn found it! :D

[2016-05-23 10:28] Andersos commented on #136
Yey, 0.25 works for me now =)

[2016-05-23 10:28] #136 closed

[2016-05-23 11:02] JacobEvelyn commented on #136
Good to hear! Thanks for all the help here!

[2016-05-23 11:03] JacobEvelyn commented on #140
Interesting, thanks for the info. I'll take a look.

[2016-05-23 11:19] JacobEvelyn commented on #140
Ah, I found the issue. The friend deserialization regex was still looking for `#` instead of `@` in some cases. Working on adding tests for this now.

[2016-05-23 11:39] #140 closed

[2016-05-23 11:43] JacobEvelyn commented on #140
@andypearson this is fixed in version 0.26. Thanks for catching this!

[2016-05-23 19:50] andypearson commented on #140
Amazing! Thanks for the quick fix!

[2016-05-23 21:55] JacobEvelyn commented on #140
No problem; thanks for reporting it!

[2016-06-04 03:27] #130 closed

[2016-06-05 17:52] JacobEvelyn opened #143 "Speed up initialization"
It would be nice if we could make `friends` perform better, as there is a noticeable lag when the `friends.md` file is large.

[2016-06-05 19:48] JacobEvelyn commented on #143
Some profiling revealed that a lot of time was being spent on `Chronic.parse` while reading activities from the file, when the file format allows us to use `Time.parse` (which `Chronic` uses under the hood) in this case.

For ~500 activities, this reduces the time of `bundle exec bin/friends list activities` from ~2.4 seconds to ~0.7 seconds.

As a note for future optimizations, it seems that proc

[2016-06-05 20:17] #143 closed

[2016-06-05 20:37] #137 closed

[2016-06-22 01:11] JacobEvelyn opened #147 "Allow multi-word locations to be added without quotes"

[2016-06-22 01:36] JacobEvelyn opened #148 "Allow tags to be added and removed from friends without quotes"

[2016-06-22 01:37] JacobEvelyn opened #149 "Commands that find a friend fail on exact text matches when there's more than one fuzzy match"

[2016-06-22 02:08] #147 closed

[2016-06-22 02:08] #148 closed

[2016-06-22 02:08] #149 closed

[2016-06-25 19:41] #125 closed

[2016-07-10 14:45] JacobEvelyn commented on #69
Closing this for now, as it seems this Issue has transformed a bit, and other Issues that have spawned from it can be completed independently.

[2016-07-10 14:45] #69 closed

[2016-10-11 18:00] JacobEvelyn opened #152 "Add default locations"
The idea here is that I can say `set home NYC` or `set home yesterday NYC` and then a special activity is added that signifies I have set/changed my home location.

Then, commands like `list activities --in NYC` will automatically include activities _after that point_ that do not have a location specified. This is useful for when you're in a location for a longer period of time (e.g. a 1-year sabb

[2016-10-11 18:00] JacobEvelyn opened #153 "Add `--since <date>` and `--until <date>` flags, and remove extraneous months from `graph`"
These flags would filter down commands that list and graph activities.

[2016-10-11 18:02] JacobEvelyn commented on #127
I'm working on converting all tests over to integration tests (the unit tests feel kind of icky with all of the stubbing going on), using some simple homemade framework code to keep this clean.

[2016-10-11 22:41] andypearson commented on #127
Awesome! I'll look forward to seeing how that looks. Good luck!

[2017-03-15 11:19] #127 closed

[2017-03-15 11:21] JacobEvelyn commented on #127
@andypearson I just finished this after a bit of a hiatus. Feel free to take a look if you're interested. I'll be working soon on finishing up the last few open issues for a 1.0 release. 🎊

[2017-03-17 13:03] JacobEvelyn opened #156 "Page all output, and remove --limit options"
This change would allow the `list` commands to have paged results (like `git log`, or `git log | more`), and eliminate the need for a default `--limit` argument.

Still need to decide whether this should be used for other types of output (graphs, for instance).

[2017-03-18 12:04] andypearson commented on #127
@JacobEvelyn great stuff! I'm thinking of writing a command line app at some point so this will make an excellent reference :)

One thing I noticed; now that's you're targeting 2.4.0 in the `.ruby-version` you can switch to using the  [squiggly heredoc](https://ruby-doc.org/core-2.4.0/doc/syntax/literals_rdoc.html#label-Here+Documents) so things line up nicely:

[code]

And I'm still using `friend

[2017-03-18 12:07] andypearson commented on #156
This would be amazing! At the moment I hacked it using the following:

[code]

[2017-03-18 14:12] JacobEvelyn commented on #156
Yeah agreed that it's much better default behavior. At the moment I'm just waiting for my [`tty-pager` PR](https://github.com/piotrmurach/tty-pager/pull/4) to be merged and then I'll add this feature here.

[2017-03-18 14:21] JacobEvelyn commented on #127
@andypearson Thanks for the tip about squiggly heredocs—I didn't know that was a feature. I don't think I can make that change yet though as `friends` still supports all the way back to Ruby 2.1.0—see [`.travis.yml`](https://github.com/JacobEvelyn/friends/blob/master/.travis.yml). (The `.ruby-version` is really just to get my [`chruby`](https://github.com/postmodern/chruby) setup working and I sho

[2017-03-18 17:59] #153 closed

[2017-03-18 18:05] JacobEvelyn commented on #153
This is now released in v0.29.

[2017-03-19 23:56] JacobEvelyn opened #158 "Improve display of favorites for ties"
Currently, we display favorites like so:

[code]

When in reality the top three friends are all tied for first place, so they should be displayed either like this:

[code]

 or possibly like this:

[code]

[2017-03-20 00:37] JacobEvelyn opened #159 "[PLACEHOLDER] Support more historical relationship tracking"
This needs to be fleshed out much, much more, but the README states that `friends` is "a way to track the ebbs and flows of your relationships over time" and I think `friends graph`—the only real tool for doing this—is kind of weak in what it can tell you.

Ideally I want some sort of visualization (or this could be several visualizations) to show me things like: "You used to be very close with Gr

[2017-03-20 03:32] JacobEvelyn commented on #158
Food for thought: http://stackoverflow.com/questions/25042260/convert-sorted-ruby-array-to-ranks-with-possible-repeats

[2017-03-20 03:33] JacobEvelyn commented on #158
I think my leaning is for simplicity's sake to not have asterisks or any special indication for the tied numbers.

[2017-03-20 03:45] JacobEvelyn commented on #156
@andypearson I've got a proof-of-concept branch out (`less-is-more`). It's a little messy (in particular I don't love how some `Introvert` methods return data and others print) but it works. All of the `graph` and `list` commands now have their output paged.

I'd love to hear what you think. In particular:

1. Are there paged commands that should not be paged?
2. Are there non-paged commands that

[2017-04-07 23:03] JacobEvelyn opened #160 "Add standalone distribution"
Using something like [Traveling Ruby](https://github.com/phusion/traveling-ruby) or [Omnibus](https://github.com/chef/omnibus) or [something else](https://stackoverflow.com/questions/23855587/packaging-ruby-into-a-portable-executable), it would be great to allow non-Rubyists to easily use this gem without requiring `sudo`.

[2017-04-10 22:08] andypearson commented on #156
Sheesh, 22 days. Sorry it's taken me so long to reply.

Running `bundle exec friends --filename ~/Dropbox/Friends/friends.md list activities` from the `less-is-more` branch I'm seeing a lot of iffy looking colour codes:

[code]

I use bash in iTerm2, if that makes any difference?

[2017-04-10 22:12] andypearson opened #161 "Friends list should include tags and nicknames"
Friends allow tags and nicknames, but you can't (as far as I know) see them without looking in the friends.md file itself.

`friends list friends` should return nicknames and tags on the same line (for easy grepping).

The output should be colorised.

Maybe a table based format would be nice and readable.

[2017-04-10 22:12] andypearson commented on #161
I don't know when it'd be, but I'd be quite keen to take this...

[2017-04-10 22:15] andypearson commented on #87
I didn't notice that this went in! I'll give it a try next time I'm entering possibly ambiguous names.

[2017-04-11 08:57] JacobEvelyn commented on #161
@andypearson you can see this info with [`friends list friends --verbose`](https://github.com/JacobEvelyn/friends#list-friends). Do you think this should be the default behavior?

[2017-04-11 08:58] JacobEvelyn commented on #87
Awesome, thanks! Would love to hear what you think.

[2017-04-11 09:04] JacobEvelyn commented on #156
@andypearson interesting, thanks for the info. Would you mind pasting the output of this command?

[code]

[2017-04-11 22:22] andypearson commented on #156
The newlines didn't work, so output looks like:

[code]

[2017-04-11 22:25] andypearson commented on #161
Wow! Exactly what I was looking for.

As it seems that `friends list friends` is the only command that accepts `--verbose` I think it'd be reasonable to have it as the default behaviour.

I've added the flag to my alias anyway now, so I get it for free :)

[2017-04-17 03:01] JacobEvelyn commented on #156
Interesting, thanks. I think I understand the problem. Can you see if this produces correct-looking output?

[code]

[2017-04-21 18:31] andypearson commented on #156
@JacobEvelyn yup, that does the trick!

[2017-05-19 20:39] JacobEvelyn opened #162 "Speed up startup times"
Based on [this comment from Hacker News](https://news.ycombinator.com/item?id=14378356) it seems like there are places we can get good performance wins for `friends`, so it starts up much faster.

[2017-05-20 12:19] JacobEvelyn opened #163 "Code coverage in README is too low"
Because our tests are now full-integration and fork in each test, code coverage is no longer accurate. We're at 100% coverage, and we should say so!

[2017-05-29 15:25] #163 closed

[2017-05-29 15:42] JacobEvelyn commented on #161
Closing this for now; will reopen if others would prefer this behavior switched.

[2017-05-29 15:42] #161 closed

[2017-05-29 19:33] #158 closed

[2017-05-29 20:10] JacobEvelyn opened #166 "Reduce warnings"
There are currently some warnings that appear when running tests. It would be nice to remove or at least reduce these.

[2017-05-29 20:11] JacobEvelyn opened #167 "Reduce dependencies"
Some dependencies (like Memoist) are barely used, and we can probably get away with not using them at all. Would be nice to clean these up!

[2017-05-29 22:09] #88 closed

[2017-05-30 03:37] JacobEvelyn commented on #88
This is available in v0.30.

[2017-05-30 03:38] JacobEvelyn commented on #158
This is released in v0.30.

[2017-05-30 12:06] #166 closed

[2017-05-30 12:06] #167 closed

[2017-05-30 12:28] JacobEvelyn commented on #160
After looking at a lot of options (including both the above links and [this list of Ruby implementations](https://github.com/cogitator/ruby-implementations/wiki/List-of-Ruby-implementations) (for something that might be cross-platform and/or compile to a binary) it seems all of these projects are either unsupported or on their way there, and I don't think it's currently worth the effort to produce

[2017-05-30 12:28] #160 closed

[2017-05-31 04:27] JacobEvelyn commented on #56
Rather than build this in directly, I decided to (for the time being at least) simply encourage users to use other tools like `cron` on their own. See the new README section on [Setting reminders](https://github.com/JacobEvelyn/friends#setting-reminders) for more info.

I'm open to opening this back up if others think there's some functionality here that's worth building into `friends` directly.

[2017-05-31 04:27] #56 closed

[2017-05-31 04:30] JacobEvelyn commented on #84
For the time being I'm going to keep the "More than one friend found" error as-is. As I mentioned above, it's pretty simple for the user to correct, and it keeps the code straightforward.

I'm willing to re-open this Issue though if others find this to be a pain point.

[2017-05-31 04:30] #84 closed

[2017-05-31 12:55] JacobEvelyn opened #171 "Change graph commands to display filtered graphs within total"
I think it might be useful for the `graph` command to display the bars specified via `--in`, `--tagged`, and `--with` flags separately from the total activities per month. Something like:

[code]

[2017-06-01 22:25] JacobEvelyn opened #172 "Graph does not display more than 42 activities per month"
Due to the way the code works, to color graphs we produce an array (which happens to have 42 elements) and then call `.take` on it to grab as many as we need. However, if we need to display more than 42 activities, `.take` will only produce the entirety of the color array, so we'll only get that many elements.

[2017-06-01 22:36] JacobEvelyn opened #173 "Add `calendar` command to see in which days activities were logged"
I'm not yet sure what this should look like exactly, but I think it would be useful to see something like:

[code]

And, similar to `friends graph`, you could add flags to filter what you see, e.g. `friends calendar --in Boston --with Prudence`

Some questions:

1. How should "active" days be displayed?
  - With a symbol, like an "X"?
  - With a number indicating the number of activities?
2. How s

[2017-06-02 21:53] #171 closed

[2017-06-02 21:53] #172 closed

[2017-06-07 00:07] skorokithakis opened #175 "Add notes"
Would it be possible/desirable to add notes for friends? Things like "John's mother got the flu" or "Mary's son started school", so we could query for those later on?

[2017-06-07 12:36] JacobEvelyn commented on #175
Hmm, that's an interesting idea. I'm not sure I totally follow what you're describing though.

How are you picturing that behaving differently from just an activity?

[2017-06-07 12:37] skorokithakis commented on #175
An activity is something I did with a friend. A note is something I want to remember about them so I can maybe follow up later. For example, if I went for drinks with a friend and we talked about various things, I might want to note that they broke up, or that they got a new job, or something like that.

[2017-06-12 13:08] skorokithakis commented on #175
By the way, I should add that notes are friend-specific, so the section would look something like:

[code]

Then the cli could have a command like `friends list notes <friend name>` to get all the notes for a friend.

[2017-06-12 13:24] JacobEvelyn commented on #175
Interesting! But I suspect it could also be useful to add notes for more than one friend, like:

[code]

Does that seem right? My read is that they're basically just activities that I didn't participate in.

[2017-06-12 13:29] skorokithakis commented on #175
Hmm, yes, possibly. I'm wondering whether they aren't activities in the sense that it's something that happened, e.g. is "John Doe has been feeling down after he lost his job" an activity? Although I guess "John Doe told me so-and-so" is an activity, I guess. Maybe you're right that they're just activities...

[2017-06-12 14:57] skorokithakis commented on #175
Actually, the use case is that you can have easily-accessible, highly summarized details of what's going on in a person's life. This is mostly for stuff you want to follow up on, rather than for things that you did together, so if you stick it in activities you'd then have to wade through all the "went out with X in Y" lines to get to the "actionable" items.

[2017-06-12 14:58] skorokithakis commented on #175
Also, are activities meant to be added multiple times per activity? Ie if you have four notes that happened in one outing (John Doe told me W, X, Y and Z), should that be four activities? Won't this skew the stats?

[2017-06-13 02:58] JacobEvelyn commented on #175
Sorry for being unclear; I didn't mean to say that notes _were_ activities, but rather that they behave _like_ activities in that the way you're describing them they can be tied to any number of friends or locations. So I imagine much of the activity code could be repurposed if we were to treat them as such.

One question I have though is whether you see them as things that need a specific date ti

[2017-06-13 03:09] JacobEvelyn opened #176 "Add birthdays?"
I'm curious if others would find it useful to be able to add someone's birthday to `friends` and have something like `friends suggest` inform you if a friend has an upcoming birthday. All opinions welcome!

[2017-06-13 03:11] skorokithakis commented on #175
Oh, sorry, I see what you mean now. Yes, from a data model standpoint, notes are pretty much exactly activities, with the only difference being that you can filter them by friend in the cli and sort them by date.

I think the date is much more useful than not, as I see this feature as supplementing my memory, and not so much as a todo list (ie it's for the past instead of the future). So, if a fri

[2017-06-13 03:17] JacobEvelyn commented on #175
Makes sense, thanks. (Though I should point out that you _can_ filter activities by friend/date too: [`friends list activities --with Susan --after '2 weeks ago'`](https://github.com/JacobEvelyn/friends#list-activities))

I think this feature makes sense and seems useful to me! Would you be interested in taking a stab at an initial implementation? (I'm happy to provide lots of guidance.)

[2017-06-13 10:22] skorokithakis commented on #175
Sure, I've never written a line of Ruby, but I can take a stab at it. I'll let you know if it's too foreign, thanks!

[2017-06-13 11:24] skorokithakis commented on #175
Ugh, I'm stuck two seconds in... How do I get `./bin/friends` to pick up the changes from the `lib` dir, instead of the installed gem?

[2017-06-13 11:27] skorokithakis commented on #175
Oh, sorry, I figured it out. I had to install something called `bundler`, but that's working now.

[2017-06-13 12:45] JacobEvelyn commented on #175
Glad to hear it! Let me know if there's anything in [CONTRIBUTING.md](https://github.com/JacobEvelyn/friends/blob/master/CONTRIBUTING.md) that I can add to make it easier to get started.

[2017-06-13 12:46] skorokithakis commented on #175
I was a bit confused by step 4, thinking that `bundle install && overcommit --install` would install the package locally, which would make it harder for me to change files. You may want to add a note that "this will install the dependencies".

[2017-06-13 12:50] JacobEvelyn commented on #175
Thanks, will do. (And I _just_ removed the `overcommit` line, since that's now part of our CI test suite rather than something developers run locally.)

[2017-06-13 12:52] JacobEvelyn commented on #175
Just made a change... is it clearer now or still confusing?

[2017-06-13 12:54] skorokithakis commented on #175
Nope, crystal clear now, thanks!

[2017-06-13 14:44] skorokithakis commented on #175
I've tried a bit and it seems learning Ruby would take much longer than implementing the feature, so I'm afraid I'll have to defer to someone more experienced :/

[2017-06-13 20:24] JacobEvelyn commented on #175
No worries @skorokithakis; I appreciate you trying. I'm adding the `upforgrabs` label in case anyone wants to take this. @skorokithakis if you want to try again I'm happy to give you lots of guidance and walk you through what to change!

[2017-06-16 03:22] JacobEvelyn opened #177 "Add a project logo!"
For the upcoming 1.0 release, `friends` could definitely use a project logo. If anyone out there wants to design one I'd be grateful!

[2017-07-25 03:38] JacobEvelyn opened #178 "Incorrect version of `gli` specified in gemspec"
The code expects `gli` version 2.14+, which includes the changes I submitted for supporting multiple options of a given flag. But `friends.gemspec` doesn't require this this version, so it's possible to use an older version of `gli` which causes errors like:

[code]

[2017-07-25 03:55] #178 closed

[2018-01-04 12:14] JacobEvelyn commented on #175
@skorokithakis (and @ddddavidmartin and @mnocon) I'm hoping to devote more time to `friends` development and am wondering if this is still a feature you guys are interested in. I'm also curious about whether, six months later, any of you have insights into anything else that would make this feature (or `friends` in general) really nice to use. Thoughts?

[2018-01-04 12:21] JacobEvelyn commented on #156
Just noting that I'm still working on/tinkering with/thinking about this. With recent changes to the `tty-pager` gem I should be able to use that in a vaguely cross-platform way, though I'm not sure if Windows supports `less -RXF` without use of the new Linux subsystem.

[2018-01-04 12:23] skorokithakis commented on #175
I've lately stopped using `friends` as much, I think mainly because it's lacking this feature. Tracking whom I spend time with is good, but not very actionable. Having notes so I don't forget what my friends are up to would be useful to me. Other than that, I find `friends` pretty easy to use, and don't have any more particular insight on how this feature could work.

Perhaps one thing I do miss w

[2018-01-04 12:29] JacobEvelyn opened #182 "Parse friends.md and generate lists of friends/locations from the activities"
@skorokithakis in [this comment](https://github.com/JacobEvelyn/friends/issues/175#issuecomment-355269522) you say:

I think I see what you're getting at but I'm not positive—could you explain this a little more?

[2018-01-04 12:40] skorokithakis commented on #182
Basically, if you go into `friends.md` and add this line:

[code]

the locations and friends lists won't be updated with the new people (as far as I know). It would be good if `friends edit` did some sanity checking and updating after `$EDITOR` had quit, or if there were a command to do this after the fact.

[2018-01-04 12:42] JacobEvelyn commented on #175
@skorokithakis thanks! I've created #182 for us to discuss your file-reparsing suggestion. And I'm glad to hear notes would still be useful. The way I'm thinking about it now is something like this:

[code]

but allow notes to involve more than one friend, like activities:

[code]

They'd be stored exactly the same as activities but in a new section:

[code]

Then you can search your notes exactly

[2018-01-04 12:47] skorokithakis commented on #175
Yep, that seems exactly right! For my usage, it'd also be useful to delete notes (for when they're no longer relevant), but I can do that by hand. Notes are more of a "current" tool rather than a historical one, so they're for keeping track what's going on in someone's life right now rather than what happened overall. Maybe they could be both, though.

[2018-01-04 13:10] JacobEvelyn commented on #182
Ooh interesting! Thanks for the clarification.

I think there's a few ways this could be implemented:

1. Do this automatically every time the file is written.
  - **Pros**:
    - We already do something similar (`friends clean` is called internally every time the file is written, which sorts the output within the file), so this would be fairly easy to implement.
    - This could actually become a

[2018-01-04 13:14] JacobEvelyn commented on #175
Thanks! I kind of suspect that some users might want to see historical notes as well (like "oh right, this is when John was doing his PhD") though I guess that doesn't a delete command wouldn't be useful. For an initial implementation though I think it makes sense to not have a way to delete notes (after all, we currently can't delete friends or activities either) and if we find that it feels like

[2018-01-04 13:19] skorokithakis commented on #175
Yeah, definitely. I'm more interested in the search command also searching the text of the notes, deletion is easy enough to do manually.

[2018-01-04 13:23] skorokithakis commented on #182
No, this matches my thinking pretty much exactly. It seems a bit overcomplicated to me, as I'd just do:

[code]

I.e. I'd clean the file every time the editor closed and control returned to me, so I wouldn't have to mess with inotify or rewriting things from under the user's nose while they're editing.

In short, I'd make this a part of `friends clean` and *additionally* run it after the editor wa

[2018-01-04 13:25] JacobEvelyn commented on #175
Ah, interesting. Full text search is a neat idea and should be pretty straightforward for a basic implementation. That's also something I've thought about adding to `list activities` as well but always figured people could just use `grep` instead for more flexibility, like `$ friends list activities --since 'January 1st 2018' | grep skiing`. (I can also add some `grep` examples to the README.)

Of

[2018-01-04 13:28] skorokithakis commented on #175
I think grep is a bit too much hassle, since I have to go into the directory where I keep the file and grep it. However, I'd only need grep-like functionality for `friends search` anyway (basically case-insensitive substring matching) so I could just alias `fr search` to `grep friends.md` if you think that command doesn't belong here.

It would be handy to be able to do `fr search notes PhD`, `fr

[2018-01-04 13:29] JacobEvelyn commented on #182
Ah, that's really helpful. I hadn't thought about using a forked subprocess to open the editor and then cleaning up after that process is terminated. I'll look into how easy that is to do in Ruby.

[2018-01-04 13:34] JacobEvelyn commented on #175
I'm not sure you followed my `grep` suggestion—I'm not saying people should be calling `grep` on the actual `friends.md` file (which I agree would be a hassle) but rather just pipe the output of `friends list activities` or `friends list notes` into `grep`, like this:

[code]

and you can combine this with the normal filter options provided by `friends`, like this:

[code]

Does that make sense?

[2018-01-04 13:36] skorokithakis commented on #182
If it's anything like Python (and I don't see why it wouldn't be), it should be trivial. You can just use `Open3#popen3()`.

[2018-01-04 13:46] JacobEvelyn commented on #175
Cool, I'll add that to the README as well!

[2018-01-04 13:46] JacobEvelyn opened #183 "Add `grep` examples to the README"
As discussed in https://github.com/JacobEvelyn/friends/issues/175#issuecomment-355281241.

[2018-01-04 13:47] JacobEvelyn commented on #182
Yeah, the tricky thing is that some editors (like Atom, Sublime Text 3, VS Code, etc.) have a standard command (like `atom`, `subl`, or `code`) to open the editor from the command line, and these commands themselves terminate before the editor does, so I think I need to wait for the process group to terminate rather than just that process.

[2018-01-04 13:49] skorokithakis commented on #182
Ah, that's too bad. I don't think you need perfect with this, especially since people can just run `friends clean` afterwards. This is just a helper function, so I wouldn't worry too much about it to start with.

[2018-01-04 13:55] JacobEvelyn commented on #182
Fortunately, I just discovered that `atom`, `subl`, and `code` all support a `--wait` flag that forces the command to not terminate until the files you opened are closed, for exactly this use case, so I can just note in the README that people should use that option when they set `EDITOR`.

[2018-01-04 22:56] mnocon commented on #175
My two cents: the notes feature is the one I'm missing the most and the examples you gave perfectly describe the way I'd use it. There's no need for a command deleting them, I can always do it manually.

Thank you for developing friends, it's an awesome tool 🙂

[2018-01-05 14:29] JacobEvelyn commented on #175
Thanks @mnocon, that's super helpful! Unfortunately I'm both sick and traveling for the next few days but I'll get this feature out as soon as I can.

[2018-01-10 01:45] JacobEvelyn opened #184 "Newer activities should always appear above older activities on the same date"
When we write the `friends.md` file we sort the activities using Ruby's built-in [`Enumerable#sort` method](https://ruby-doc.org/core-2.1.0/Enumerable.html#method-i-sort). However, this sort is not stable, meaning that two activities on the same date can rearrange themselves nondeterministically each time the file is rewritten. This leads to situations like (assuming the activities were added in t

[2018-01-10 02:08] #184 closed

[2018-01-11 18:17] adiabatic opened #186 "Allow (some) punctuation in tags"
I wanted to tag an activity `@games:caverna`, but only the `@games` part was recognized as a tag. Does anyone oppose adding `:` and `-` to the regex on [line 6 of friends/lib/friends.rb](https://github.com/JacobEvelyn/friends/blob/9be02fc9161acbe0238d1bb19fa24d0a59ce33a9/lib/friends.rb#L6)?

[2018-01-12 03:02] JacobEvelyn commented on #186
I think that seems reasonable to me, @adiabatic. Would you be interested in making a PR for that change?

[2018-01-14 19:31] JacobEvelyn commented on #186
Just a bit more thinking here—it probably makes sense to allow some punctuation (like `:` and `-`) in the _middle_ of a tag, but not at the beginning or end in case someone is recording an activity like `@games: I played Caverna today`. Does that seem right to folks?

[2018-01-14 19:37] adiabatic commented on #186
Sounds right to me.

As an aside, I'll definitely do the PR, most likely this week, but I've been busy with other things. Data entry seems to work fine for my current use cases, so I'm not in a rush.

[2018-01-14 19:41] JacobEvelyn commented on #186
Sounds great! Let me know if you have any questions about how to make the change or add tests for it!

[2018-01-14 20:19] #175 closed

[2018-01-14 20:48] JacobEvelyn commented on #175
@skorokithakis @mnocon @ddddavid this feature is now released in version 0.35. Let me know how you like it! (Also it was kind of a big change so if there are any subtle interactions with notes that I didn't think through properly, or documentation that I didn't update, please tell me!)

[2018-01-15 21:35] mnocon commented on #175
@JacobEvelyn I've successfully upgraded and it works! Looks good so far, I'll be provide more feedback in the upcoming weeks.

[2018-01-16 01:00] #183 closed

[2018-01-16 13:40] JacobEvelyn opened #189 "`rename friend` and `rename location` do not correctly update existing notes"

[2018-01-17 14:11] #189 closed

[2018-01-17 14:11] #182 closed

[2018-01-17 14:14] JacobEvelyn commented on #189
This is fixed in v0.36.

[2018-01-17 14:15] JacobEvelyn commented on #182
@skorokithakis this is implemented in v0.36! Let me know how it works for you!

[2018-01-17 14:20] skorokithakis commented on #182
@JacobEvelyn Will do, just upgraded to test out the notes functionality as well, thanks!

[2018-01-17 14:22] skorokithakis commented on #182
Yep, seems to work like a charm, it found my new locations and friends, thanks!

[2018-01-17 14:34] JacobEvelyn commented on #182
Awesome, thanks for letting me know!

[2018-01-21 22:45] ddddavidmartin commented on #175
Thanks for the heads up @JacobEvelyn! I haven't been using friends, quite possibly for the lack of a notes feature. I tried out the latest version with notes support and I quite like it so far. It is different from what I was picturing, but better!

[2018-01-22 01:11] JacobEvelyn commented on #175
Thanks for the feedback, @ddddavidmartin. I really appreciate it. I'd love to hear any other thoughts you have on why you stopped using `friends` or anything else you'd like it to support.

[2018-01-24 13:58] JacobEvelyn opened #192 "Allow tags to be hierarchical"
This change would allow tags like `@games:board-games:settlers-of-catan` to _also_ match commands like `friends list activities --tagged games` and `friends list activities --tagged games:board-games`.

If the multilevel hierarchy is too difficult, that feature can probably be scrapped.

See more discussion at the bottom of [this comment](https://github.com/JacobEvelyn/friends/pull/191#issuecommen

[2018-02-24 16:13] #186 closed

[2018-04-14 17:38] meetmangukiya opened #197 "Default filename should be ~/friends.md instead of ./friends.md"
Rather than having friends create a new friends.md file each time, the current directory doesn't have one; Why not just create and store data by default in some more permanent location, like `~/.friends.md` allowing users to use friends without caring about the current working directory?

[2018-04-14 19:47] JacobEvelyn commented on #197
Hey @meetmangukiya! Thanks for the suggestion! Have you thought about using a shell alias like [this](https://github.com/JacobEvelyn/friends#syncing-across-multiple-machines) so that every time you call `friends` it uses the same file? (I'm not trying to dismiss your suggestion, just hoping to get more information about what solutions might achieve what you're looking for.)

[2018-04-15 05:10] meetmangukiya commented on #197
@JacobEvelyn yes, this would work. But out of curiosity, do you think a user would want to have more than one friends.md file? Do you have any use case in mind? If not, I think friends should make only one file somewhere, and allow user to change that path, if he/she wants to.

[2018-04-16 12:37] JacobEvelyn commented on #197
@meetmangukiya yeah I think that's reasonable. Would you be interested in making a PR for that change? (I'd be happy to provide guidance.)

[2018-05-10 11:56] Gigikinyua commented on #177
![f](https://user-images.githubusercontent.com/19576109/39868454-5590a268-5462-11e8-93e6-8090f69c533a.jpg)

[2018-05-10 14:34] JacobEvelyn commented on #177
Thanks so much! Feel free to be creative—could be as simple as the word "friends" with a heart dotting the `i`, or something like [this icon](https://thenounproject.com/search/?q=human&i=630243) with a red heart in the middle. Let me know if you want to bounce ideas off each other!

[2018-06-25 02:02] JacobEvelyn opened #198 "Don't allow blank activities, friend names, tags, locations, or notes"

[2018-06-25 23:12] JacobEvelyn opened #199 "Don't treat multiple additions of the same friend in `friends edit` as conflicting friends"
I imagine this bug exists for locations too.

[2018-07-21 13:29] #198 closed

[2018-07-23 15:25] JacobEvelyn opened #201 "Add `friends graph --scaled`"
I wonder if it would be neat to be able to do something like `friends graph --with Chantal --scaled` to see a scaled representation, like:

[code]

The idea is that you can more easily see the flows of a relationship over time. It's possible that this should actually be the default, and that `--unscaled` should be the flag to turn this off.

This could even be used for the `friends graph` command

[2018-07-23 15:35] JacobEvelyn opened #202 "Give matching priority to first name-only people"
If you're friends with a `Jason` and a `Jason Bourne`, even if `Jason Bourne` is the better friend we want "Jason" to map to `Jason` because otherwise the only way to match `Jason` is with explicit double-asterisks.

[2018-08-02 01:14] #199 closed

[2018-09-22 18:30] #156 closed

[2018-09-22 20:07] JacobEvelyn commented on #156
@andypearson it's been a long time coming, but I finally shipped this feature in version 0.40. Let me know how it works for you! Also, note that you can customize which pager is used: https://github.com/JacobEvelyn/friends#a-note-on-output

[2018-09-22 20:10] JacobEvelyn opened #207 "`friends update` prints error message"
`friends update` produces:

[code]

[2018-09-22 20:38] #207 closed

[2018-09-24 08:10] Immortalin opened #209 "Generate Searchable Static Site"
Like one of those fancy documentation tools e.g. docusaurus

[2018-09-24 08:15] Immortalin opened #210 "Sqlite as a backing datastore"
Regex is brittle....

[2018-09-24 08:16] Immortalin commented on #210
And potentially suffer from injection/malformed input depending on what you type in

[2018-09-24 10:29] dependabot[bot] opened #211 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-09-24 11:56] andypearson commented on #156
Oh cool! I'll give it a shot as soon as I can :)

(And, once again, thanks for this awesome bit of kit, my `friends.md` is currently sitting at a cool ~1200 lines).

[code]

[2018-09-24 14:44] JacobEvelyn commented on #211
@dependabot is the `require "friends/post_install_message"` line not working correctly? What can I do to help fix this?

[2018-09-24 14:46] greysteil commented on #211
Ah, this is going to be due to some sanitization that Dependabot does. It's [this line](https://github.com/JacobEvelyn/friends/blob/master/friends.gemspec#L19) that will be confusing Dependabot, but the fix is for me to do the sanitzation better - let me have a quick go at that...

[2018-09-24 15:09] greysteil commented on #211
OK, this should be fixed in https://github.com/dependabot/dependabot-core/commit/f833cb3c0a2aa55bec59c812a75b8a796747cad7, which is deploying now. Will re-run Dependabot on this repo to double-check.

[2018-09-24 15:41] #211 closed

[2018-09-24 15:44] greysteil commented on #211
🎉

Thanks for tagging me in this one - Dependabot's gemspec sanitization is a bunch more robust as a result.

[2018-09-24 18:19] JacobEvelyn commented on #211
No problem, glad to hear it!

[2018-10-10 12:58] JacobEvelyn commented on #210
Hey @Immortalin, thanks for the suggestion, and sorry for the delay! Could you tell me a little more about what you're hoping to accomplish? Is it that you want to `INSERT` via SQL instead of `friends add`? Or something else?

[2018-10-10 12:59] JacobEvelyn commented on #209
Hey @Immortalin, so sorry for the slow response. Can you share a little more about what you're thinking here? Are you looking for a searchable static site for the documentation? Or for your own `friends.md` data?

[2018-10-10 13:03] JacobEvelyn opened #213 "Better match friends with middle names"
If I have a friends with these names:

[code]

I want an activity with `Martin Luther` in it to match into `**Martin Luther King**`, not `**Martin Jones** **Luther King**`.

[2018-11-15 13:35] MartyLake opened #214 "When specifiyng a file that does not exist, prompt to create it instead of aborting"
Hello,
just installed friends, it looks so promising ! I suggest that when specifiyng a file that does not exist, prompt to create it instead of aborting. This would help installing friends faster :)

[2018-11-15 13:50] JacobEvelyn commented on #214
Thanks for the suggestion, @MartyLake! Great idea. I'll see if I can add this today 😄

[2018-11-15 22:55] JacobEvelyn commented on #214
@MartyLake looking a little more closely at the code, I'm not sure I totally understand. Right now (on my machine at least), if I run `friends` for the first time and don't have a file, it'll create one. This is true whether you specify a custom name like:

[code]

or if you just use the default (`./friends.md`):

[code]

Are you saying:

1. You want `friends` to **_tell_** you when it's creating

[2018-11-16 13:12] MartyLake commented on #214
Well, I observed 3, but I'm not able to reproduce it right now. :( sorry for the noise !

[2018-11-16 13:12] #214 closed

[2018-11-16 13:42] JacobEvelyn commented on #214
No problem, @MartyLake! If you can reproduce it again please let me know! (Perhaps you were on a read-only file system, or something like that?)

[2018-11-16 14:15] MartyLake commented on #214
Will do ;)

Le 16 nov. 2018 14:42, "Jacob Evelyn" <notifications@github.com> a écrit :

No problem, @MartyLake <https://github.com/MartyLake>! If you can reproduce
it again please let me know! (Perhaps you were on a read-only file system,
or something like that?)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/JacobEvelyn/fr

[2018-11-25 15:03] JacobEvelyn opened #215 "Improve matches for friends with only first names"
Right now it's possible for a friend whose full name is `Alessandra` to match as `Alessandra A` or a friend named `Iago` to match as `Iago I`, which can cause issues if the next word after the friend's name is an `a` or an `i`.

[2018-11-25 18:57] #215 closed

[2018-11-25 19:01] #213 closed

[2018-11-25 19:11] JacobEvelyn commented on #210
I haven't heard back, so I'm closing this. Feel free to reopen if you want to chat more about this!

[2018-11-25 19:11] #210 closed

[2018-11-25 19:11] JacobEvelyn commented on #209
I haven't heard back, so I'm closing this. Feel free to reopen if you want to chat more about this!

[2018-11-25 19:11] #209 closed

[2019-01-01 10:13] dependabot[bot] opened #218 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 10:13] dependabot[bot] opened #219 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 10:13] #218 closed

[2019-01-01 12:21] dependabot[bot] opened #220 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 13:31] #220 closed

[2019-01-01 13:31] dependabot[bot] opened #221 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-11 11:05] JacobEvelyn commented on #218
@dependabot I've gotten a few of these recently (#219, #220, and #221 all appear to be duplicates, though the `chronic` dependency range in the error message is different in different tickets). I haven't looked into it much but it looks like this might be an issue with Dependabot not correctly reading the `Friends::VERSION` constant, since it says `friends was resolved to 0.0.1`?

Let me know what

[2019-01-11 11:07] greysteil commented on #218
Thanks for the heads up @JacobEvelyn.

All of these were created on the 1st of January, when Rubygems suffered a major incident. I'm 99% certain that's the cause, but if you see these again please do ping us!

[2019-01-12 18:36] JacobEvelyn commented on #218
Gotcha, thanks!

[2019-01-12 20:52] JacobEvelyn opened #224 "Test against Ruby 2.6"

[2019-01-12 21:13] #224 closed

[2019-01-12 22:20] #197 closed

[2019-01-13 16:58] JacobEvelyn opened #226 "Match tags case-insensitively"
Commands like `friends graph --tagged @Exercise` don't match the `@exercise` tag.

[2019-01-13 21:06] #201 closed

[2019-01-13 21:31] #226 closed

[2019-01-24 04:24] rajuashok opened #231 "Friends not being added :(."
I just installed friends and I can't seem to add any friends. Or at least the list friends command is failing. I see that the friends.md file is in fact updated, but when I run friends list friends nothing shows up. Any idea why?

Thanks for the cool project!

[2019-01-24 13:32] JacobEvelyn commented on #231
Thanks for opening an issue, @rajuashok! Sorry you've been running into problems. Can you tell me how you're adding friends? Are you using `add friend` like so:

[code]

or adding new friends directly via activities, like:

[code]

or editing the `friends.md` file directly? Or something else?

I can't seem to reproduce what you're seeing so any information you can give me would be really helpful.

[2019-01-24 15:06] rajuashok commented on #231
Thanks for looking into this! Hope this helps.

Here's exactly what I'm doing:
`friends add friend Ashok Raju`
output: `Friend added: "Ashok Raju"`

`cat friends.md`
output:
[code]

`friends add friend Jacob E`
output: `Friend added: "Jacob E"`

`cat friends.md`
output:
[code]

`friends list friends`
output: No output

[2019-01-25 20:37] pwalker commented on #231
I'm also running into this issue, but I noticed it when I tried to add an activity.  Here are some commands I've typed in, and then whats in `friends.md`.

I'll do a `friends add friend Peter`

[code]

`friends add activity` > then I'll just type some text like `Hung out with Peter`
[code]

Also, FWIW when I did a `friends clean` and it erased everything
[code]

[2019-01-26 22:05] JacobEvelyn commented on #231
Yikes! That's a pretty bad bug! 😬

Thanks for all the details @rajuashok and @pwalker. I figured out the issue—it looks like I introduced a regression in version `0.44` when I changed the default file location from `./friends.md` to `~/friends.md`. I should be able to get a fix out in the next few hours, but I want to make sure I add a test to prevent the same regression in the future so it could

[2019-01-27 01:08] #231 closed

[2019-01-27 01:18] JacobEvelyn commented on #231
@rajuashok @pwalker this is now fixed in `v0.46`! Simply run `friends update` to get it.

Sorry for the scary bug, and thanks again for all the detail in your bug report!

[2019-01-28 05:49] rajuashok commented on #231
Amazing! Thank you so much :).

Ashok Raju
about.me/ashokraju

On Sat, Jan 26, 2019 at 5:18 PM Jacob Evelyn <notifications@github.com>
wrote:

[2019-05-14 23:03] ditorelo opened #233 "Is this thing on?"
This is such a great project, I can see nothing much happened in the last year.

Is development for this still happening? Should I switch to any of the forks?

[2019-05-15 13:01] JacobEvelyn commented on #233
Hi @ditorelo! Yep, this project is still very much alive! (And your second question piqued my curiosity—I just looked at all of the forks and none of them appear to be active at all.)

While I disagree slightly with your characterization that [nothing much happened in the last year](https://github.com/JacobEvelyn/friends/blob/master/CHANGELOG.md), I take your point—it's hard to see whether a proje

[2019-05-15 23:44] ditorelo commented on #233
Hi @JacobEvelyn!

I'm sorry, for whatever reason I looked somewhere and saw no there has been no activity since 2017. I was clearly mistaken!

I just started using the tools, and I'm loving it so I'll definitely come back with any questions, and I really appreciate your response!

I'll use it for a bit more and come back with suggestions / things. :)

Thanks so much for making this available to ev

[2019-05-16 13:20] JacobEvelyn commented on #233
No need to apologize, @ditorelo. Glad you're enjoying `friends` so far, and please let me know what you think as you use it more!

[2019-09-01 12:44] shen-sat commented on #152
Hi @JacobEvelyn! I'm a new-ish coder (I've been devloper for a year and a bit now), and I've always wanted to contribute to open source. I searched on Github, found this project and have completely fallen in love with it - such a cool idea!

I want to work on this issue as my first ever open source contribution, but before I do, I noticed a problem with the running the tests on my machine. I've fi

[2019-09-05 23:50] JacobEvelyn commented on #152
Hi @shen-sat! So sorry for the delay!

First of all, welcome to coding and open source! 👋

Thanks so much for finding and fixing a bug! A pull request would be great (and if you have any questions or problems with that let me know and I'm happy to help). I'm also assigning this ticket to you so you can officially work on it once you've fixed the issue with tests. How does that sound?

[2019-09-10 20:07] shen-sat commented on #152
Hi @JacobEvelyn! So sorry for the late reply, I almost missed this message - I didn't get a notification in my emails for some reason...I'll check my settings 👍

I'm so happy to be assigned my first issue woop! 🙌 I will be taking this project to a local Ruby meetup next week, so I can get someone more senior to pair with me on it. I'll therefore start work on this next week 👨‍💻

PS please ignore m

[2019-09-11 13:44] JacobEvelyn commented on #152
Sounds great, @shen-sat! Good luck at the meetup, and feel free to reach out if you have any questions!

[2019-09-17 13:39] JacobEvelyn opened #235 "Punctuation swallowed after friend name with last initial"
Adding an activity description with a comma after a first-name-last-initial construction results in the comma getting deleted. For example:

[code]

becomes:

[code]

Of note, we _do_ want to swallow punctuation here when it’s a period and _not_ the end of the sentence. But we don’t want to swallow commas or anything else!

[2019-09-24 15:33] JacobEvelyn opened #238 "Tests are failing in `master`"
This appears to be related to a simplecov issue

[2019-09-26 20:17] shen-sat commented on #152
Hey @JacobEvelyn, I've started looking at this issue. I managed to pair with someone to understand the general app structure, but I'm going to attempt writing tests and building the `set home` functionality on my own (until I get stuck, haha).

As I understand it, there are two requirements:
1.  User can set a home location
2. User can list activities by home location

I want to tackle the first r

[2019-09-26 20:49] JacobEvelyn commented on #152
Hey @shen-sat! Thanks so much for picking this up, and great questions.

I've actually been thinking about this a little bit differently. Consider this activity history (in chronological order, which is the opposite of the ordering in `friends.md`):

[code]

Because you can move home locations, what I really would like is for the `list activities --in` flag to understand the "home" concept, like:

[2019-09-28 16:16] shen-sat commented on #152
Hey @JacobEvelyn, thanks for the detailed user examples, they help me understand the requirements a lot. I like the idea of using the existing user feed to add extra functionality, rather than adding an extra `### Home` section

My thoughts on your questions:
1. Should it actually be a set home command, or just a special activity name? _I think so - as a user, I'd like to use a small set of comman

[2019-10-01 14:41] JacobEvelyn commented on #152
Thanks for all the discussion, @shen-sat, and sorry for the slow response. I think we're in agreement that:

1. `friends set home Atlanta` is the right command to use for this.
2. That command should create the location if it doesn't already exist.
3. We should include this when filtering notes by location, as well as activities (your example with the shop name is compelling to me).
4. The code wi

[2019-10-02 08:03] shen-sat commented on #152
Hey @JacobEvelyn,

Completely agree with leveraging the date parsing, that will make it easier to create the `@home)locations` variable you mentioned and populate it with a hash of locations and move dates.

I also agree with maybe not listing `Moved to _Atlanta_` under `### Activities`. However, I also don’t want to move it under `## Notes` either, and I’m leaning back towards creating a separate

[2019-10-03 15:04] #238 closed

[2019-10-03 17:18] JacobEvelyn commented on #152
Thanks for all the thoughts! I'm not sure I have strong preferences either way, though I don't really know what other things would be in `### Personal` so my vote would be to just use `### Homes` for now, like:

[code]

How does that sound?

[2019-10-03 17:35] JacobEvelyn commented on #152
Hmm actually now I'm having second thoughts. One thing I've noticed is that even when I'm not _moving permanently_, if I'm traveling it gets _really_ annoying to add the location to every activity I do on my travels, like:

[code]

I'm constantly forgetting to add them, or putting them in parentheticals which feels awkward.

However, `friends`'s philosophy of [**intelligence**](https://github.com/

[2019-10-06 11:47] shen-sat commented on #152
I love the fact we are going deep on this issue - I’m a dev, but I’ve been fascinated by product, and this feels like a juicy product challenge :)

I agree that user shouldn’t unneccesarily have to add their location all the time. So the concept of a default location that can change whether the user is at home or on holiday makes a lot of sense. I'd like to set this as the core objective for this

[2019-10-08 22:38] JacobEvelyn opened #242 "Add location nicknames"
Commands and behavior should be pretty much the same as friend nicknames. Would be really useful, especially with multiword locations (`New York City` could be nicknamed as `NYC`) and "duplicate" nicknames (`Portland, OR` and `Portland, ME`).

[2019-10-08 22:45] JacobEvelyn commented on #152
Sorry for the delay, @shen-sat. I've been thinking about this a lot and keep going back and forth. (Definitely overthinking it! 😬)

I think one of the things tripping me up is the word "home." A command like `friends set home` feels like something to only use when you permanently move, not something for a one-week vacation. Perhaps I'd feel more open to that approach with a different name?

You're

[2019-10-11 12:08] shen-sat commented on #152
Hey @JacobEvelyn, I think we are in agreement! 🙌🏾

Completely agree with the `friends move LOCATION` command you've suggested. And I also agree with how you want to store it.

I also agree that it'd be nice to have Friends 'know' that your location has changed when you are travelling (with a command like `from _A_ to _B_`). I'm not 100% sure on the way to implement this, but it would be a very coo

[2019-10-19 08:34] v4vasanth commented on #242
@JacobEvelyn I'd like to work on this issue and raise a PR for this soon

[2019-10-19 17:07] JacobEvelyn commented on #242
Perfect, @v4vasanth ! Let me know how I can best assist you!

[2019-10-19 20:25] JacobEvelyn commented on #152
Hope your digital detox is going well, @shen-sat! I've been giving this a bunch more thought and I've come to a decision—I'd like to proceed with the following:

- When an activity includes the pattern `to _LOCATION_`, future activities count as being "in" that location until the next `to _LOCATION_` pattern.
    - **Rationale:**
        1. This ticket originally derived from a common pain point I

[2019-10-29 23:51] JacobEvelyn commented on #242
@v4vasanth anything I can do to help?

[2019-10-30 13:35] shen-sat commented on #152
Sounds good to me! I'll have a closer look at your implementation suggestion and let you know if I have any questions 👍🏾

[2019-11-05 09:29] shen-sat commented on #152
Hey @JacobEvelyn sorry for the late response! I'm blaming jet lag 😪

I agree with the outline of your implementation - the idea to create an instance variable `@implicit_location` in Activity and set it across multiple Activity objects as the `friends.md` file is parsed makes sense.

I'm getting a bit stuck on exactly _where_ the setting of @implicit_location should take place though, and I'd like

[2019-11-05 23:26] shen-sat commented on #152
Hey @JacobEvelyn, I managed to pair with someone at work today and we managed to clear my above confusion - please ignore my questions above! I'll get on with the implementation and let you know how I get on 👍🏾

[2019-11-06 15:27] JacobEvelyn commented on #152
Okay! Glad to hear it, and let me know if there's anything else I can help with.

[2019-12-09 14:13] JacobEvelyn commented on #242
@v4vasanth are you still interested in this or should I assign it to someone else?

[2019-12-11 22:18] #152 closed

[2019-12-11 22:33] JacobEvelyn commented on #152
Thanks so much, @shen-sat ! This change has been released in v0.47 (run `friends update` to get it). Thanks for contributing!

EDIT: Whoops, I just realized that the change looks for `Moved to _location_` but I think we'd actually wanted it to just be `to _location_` (to allow things like "Flew to Hawaii for vacation" to work). I'm happy to make that change quickly unless you want to!

[2019-12-11 22:43] shen-sat commented on #152
No worries!

Ah this is something I thought about - I used the more specific line 'moved to _location_' so that we wouldn't set implcit location for lines like "I went to Marie's Diner". What do you reckon?

[2019-12-12 15:34] JacobEvelyn commented on #152
Hmm, that's an interesting thought. I've personally been using locations more for geographic areas/cities/etc. than specific buildings. I assume that's how most users are using them as well but I can't say for certain. Do you have locations like `_Marie's Diner_`?

[2019-12-13 21:02] shen-sat commented on #152
`Marie's Diner` is used in a lot of tests - when I saw it, I thought locations in the context of the app could be geographic areas or specific spots like restaurants, museums, etc. But if not, then I'm happy to change `moved to _location_` to `to _location_`. But I think we should also lose `Marie's Diner` form the codebase as it can cause confusion over the definition of a location. What do you r

[2019-12-14 13:12] JacobEvelyn commented on #152
I think that makes sense to me. Do you want to work on that, or should I?

Two other follow-on things that I forgot to mention on the last PR:

1. When an activity that sets a new implicit location is added, I think we should print a message. Something like `Default location set to: "#{location}"`
2. We should add a description of this feature to the README.

[2019-12-18 00:37] JacobEvelyn opened #244 "Fix coloring of `friends graph`"
`friends graph` previously displayed rainbow graphs, but something seems to have broken (at least on my setup). Investigate and fix!

This is what I'm seeing now:

<img width="223" alt="Screen Shot 2019-12-17 at 7 35 53 PM" src="https://user-images.githubusercontent.com/1114569/71045907-a7fa3580-2104-11ea-8bc1-f7bc3875ac6b.png">

[2019-12-18 18:12] shen-sat commented on #152
Makes sense and I'm happy to make the changes 👍 What's the best practice here - should I re-open the pull request, or make a new one?

[2019-12-18 22:03] JacobEvelyn commented on #152
A new PR would be great! Thanks so much! Also, I can't figure out why you're not showing up on the [Contributors page](https://github.com/JacobEvelyn/friends/graphs/contributors). Any ideas? Perhaps something in your privacy settings?

[2020-01-13 17:20] JacobEvelyn opened #246 "Allow nested locations"
I find myself adding activities with descriptions like `Grabbed lunch with **Julie Andrews** in Cambridge (_Boston_)` because I want the description to count as being in Boston when it technically isn't. If `friends` allowed me to specify that `Cambridge` is _within_ `Boston` it could keep this specificity (as opposed to just being a nickname, as described in #242).

I think the big thing to figur

[2020-01-28 03:06] danielepolencic opened #247 "Replace `favorites` commands with more flexible `--sort` options"
I'd like to know which friend I haven't talked to in a while.
_I tried to look into the documentation, but I couldn't find anything._

I thought about using `list activities`, but it works only if I iterate on all users.
I thought about using `list friends`, but there's no way to list them by activities.

I tried using `list favorite friends`, but that's not quite right.

I'm wondering if there's

[2020-01-28 16:58] JacobEvelyn commented on #247
Hey @danielepolencic ! Thanks for opening this issue.

I'd love to learn a little more about your use case. Some questions I have for ya:

1. Are you imagining a command that gives you a friend that you haven't had any activity with in X amount of time (or the X most recent activities)?
2. If so, should this command give you just one random friend that meets this criteria, or a list of them?
3. Sh

[2020-01-29 02:20] danielepolencic commented on #247
1. Something like that. I think more than a "command" the intent is the following:
I want to know which friends I haven't got in touch in a while and perhaps I should reach out.
In practice, I think this is similar to ordering all friends by last activity.
2. I don't like random. I'd like a list of N (10?) friends that I neglected. examples:

1. Mat (last contacted 1y ago)
1. Julie (last contacted

[2020-01-29 12:45] JacobEvelyn commented on #247
I totally hear you about not wanting a random list, but I'm trying to figure out how this could work with a larger list of friends. As an example, `friends stats` currently tells me that I have 527 friends in the file, and I swear I'm an introvert. Obviously, I'm not close with most of those people. Some are former coworkers who I thought I'd become close with but never did, some are spouses of fr

[2020-02-01 07:26] danielepolencic commented on #247
To be honest, I didn't think about large use cases.
However, isn't this a ranking/filtering problem?

As suggested in the docs, I could pipe the values to another shell tool and sift through the results.
It's also very likely that with a large number of results, I could narrow down my selection with tags and location, for example.

I believe this is personal preference, rather than a hard requirem

[2020-02-02 18:11] JacobEvelyn commented on #247
Yep, I agree that large outputs aren't an issue. But I think that still doesn't really resolve the question of what you're hoping the output to look like. Is it a list of friends ranked by some value like `number_of_activities * time_since_last_activity`? Is it something else from the list of options in my past comment?

[2020-02-17 18:21] JacobEvelyn commented on #247
Hey @danielepolencic! I whipped up a prototype of how this might work using the `number_of_activities * days_since_last_activity` ranking. Running it on my own file with

[code]

shows... not great results. A lot of the people at the top of the list have either passed away (😢) or are from something like a sports team I was on years ago, where I had a lot of activities with the same people but it's

[2020-02-26 01:55] JacobEvelyn commented on #247
Hey @danielepolencic! I just tweaked this formula a bit and now have better results with my own data, but I'm curious how it works with yours. (It's still a bit touchy for me.)

You can try tweaking the multiplier in the [`cutoff` line](https://github.com/JacobEvelyn/friends/blob/neglected/lib/friends/introvert.rb#L420)—I found results between `0.75` and `0.95` to be useful.

[2020-02-26 04:01] danielepolencic commented on #247
Apologies, for the belated response. Also, I didn't mean to bring back bad memories :(

My sample is not that as big, so I don't see the same issues. Also, is there any way I can filter by tag?

Something like:

[code]

[2020-02-27 13:45] JacobEvelyn commented on #247
@danielepolencic no worries on either count! I just added `--tagged` and `--in` options to it so you can now filter by friend tag or location.

[2020-02-28 02:26] danielepolencic commented on #247
I'm testing it, but it looks good to me!

Just a personal note. I think the command should have a positive connotation. Every time I type neglected I feel _guilty_ of not having nurtured the relationship.

Here are some suggestions:

- touchbase (`friends touchbase --tagged family`)
- reconnect (`friends reconnect --tagged family`)
- catchup or catch-up (`friends catchup --tagged family` / `friend

[2020-02-28 08:15] danielepolencic commented on #247
I might have missed something, but is it possible to order them by date?

[2020-03-05 01:28] JacobEvelyn commented on #247
Hey @danielepolencic! Thanks for all the thoughts!

You're totally right! I like your suggestion of `friends reconnect`!

I'm not sure I totally follow—what were you doing to sort the results? Or are you just saying that you expect the results to be sorted by days but they aren't? This command isn't just sorting friends by the number of days, because that would mean that people you interacted with

[2020-03-05 02:01] danielepolencic commented on #247
Now that I pay more attention I see what you mean.

That's exactly what I'm after. At the moment, I have a tag for people that I don't want to follow up anymore. If I met a person once and never got in touch in a year, they should be at the top of the list — unless I filter them.

The number of activity is not relevant, I think.

It's difficult to write an algorithm that should decide if I should

[2020-03-08 16:13] JacobEvelyn commented on #247
Gotcha, thanks for the thoughts. I can get behind a command that just lists friends by least recent activity. Thinking a bit more about the nomenclature, I think it makes sense to put it in under `friends list`. I'm wary of your warning about `neglected` though. Maybe something like one of these?

- `friends list lapsed`
- `friends list erstwhile`
- `friends list reconnectable`

(Totally open to b

[2020-03-09 11:35] andypearson commented on #247
\*waves\* :)

Mainly I'm lurking because GitHub notifications got better! I'm still using `friends` as a journalling tool, so not sure this feature is something I would use.

I agree with @danielepolencic though, I'd like the command to be more positive than "neglected".

[2020-03-26 21:48] JacobEvelyn opened #249 "Fix minitest deprecation warnings"
See: https://travis-ci.com/github/JacobEvelyn/friends/jobs/300257127

[2020-03-27 11:57] #249 closed

[2020-04-01 23:25] JacobEvelyn opened #251 "Multi-word editors no longer work with `friends edit`"

[2020-04-02 13:23] JacobEvelyn opened #254 "Add support for Ruby 2.7"

[2020-04-02 13:40] #251 closed

[2020-04-02 13:42] #235 closed

[2020-04-03 13:07] #254 closed

[2020-04-04 13:24] JacobEvelyn opened #256 "Drop Semverse dependency"
This dependency isn't giving us a lot and we can easily implement the functionality we use.

[2020-04-04 13:25] JacobEvelyn opened #257 "Drop support for Ruby <2.3"
This would allow us to:

- merge #241
- use the safe navigation (`&.`) operator
- use the latest `rubocop` on Travis

[2020-04-05 18:51] #256 closed

[2020-04-05 18:51] #257 closed

[2020-04-11 12:56] JacobEvelyn opened #260 "Try using bundler caching in Travis"

[2020-04-11 19:53] #260 closed

[2020-05-25 14:47] m-t-a-n-a-k-a opened #262 "undefined method error occurred when "remove tag" is executed with no arguments"
VERSION
0.51（ruby 2.6.0）

SUMMARY
When "remove tag" is executed with no arguments,  the following error messages are output.
[code]

When "remove nickname”, the error messages are as below.
[code]

I think it would be better to output "Error: No friend found for" message in the case of "remove tag" as well. 👍

[2020-06-02 22:06] JacobEvelyn commented on #262
Great catch! Thank you for finding this (and sorry for the slow response)! ❤️

[2020-06-03 21:45] #262 closed

[2020-06-03 22:00] JacobEvelyn commented on #262
Thanks so much for fixing this, @m-t-a-n-a-k-a! Your fix is now released in version 0.52! 🎉

[2020-06-21 18:51] m-t-a-n-a-k-a opened #265 "undefined method error occurred when “add tag" or “add nickname” executed with no arguments"
VERSION
 0.52（ruby 2.6.0）

SUMMARY
 When “add tag" or “add nickname” executed with no arguments, undefined method error messages are output as below.

[code]

I think it would be better to change the error message as below.
[code]

Could you please let me know what you think about this change?
Thank you.

[2020-06-22 12:40] JacobEvelyn commented on #265
Good catch, @m-t-a-n-a-k-a! I agree with one small question for you. `add tag` is [able to infer](https://github.com/JacobEvelyn/friends/blob/master/lib/friends/commands/add.rb#L48) that only the last argument is the tag and everything else is a name, so these will both work:

[code]

but `add nickname` [can't do that](https://github.com/JacobEvelyn/friends/blob/master/lib/friends/commands/add.rb#

[2020-06-23 15:24] m-t-a-n-a-k-a commented on #265
Thank you for your reply, @JacobEvelyn!
I agree with your newer idea. Indeed, I think the newer one is easier to understand.

[code]

In that case, what do you think of `add tag`?
It would be better the following one in terms of uniformity.

[code]

[2020-06-23 22:42] JacobEvelyn commented on #265
Good call! I think I'd be comfortable with either of these:

[code]

Do you want to work on this or would you prefer that I make the change?

[2020-06-24 14:52] m-t-a-n-a-k-a commented on #265
@JacobEvelyn Yes, I’d like to work on this issue.
It probably won't take much time to create a PR for this.
Please give me a few days👍

[2020-06-24 15:49] JacobEvelyn commented on #265
Sounds perfect, thank you! ❤️ As always, let me know if I can help.

[2020-07-06 12:55] #265 closed

[2020-09-22 19:43] ethanmorse opened #268 "Reminder to contact a friend"
My idea is simple: allow reminders about specific friends. For example, if I'm talking to John Doe and he has a big event on December 11, I can enter: "friends remind John Doe December 11 2020 big meeting with boss about his promotion". This could create a one-time cron job that pops up, then delete it afterwards? Not sure how it would work.

I normally enter things like this on Google Calendar, b

[2020-09-23 13:16] JacobEvelyn commented on #268
Thanks for the suggestion, @ethanmorse! This is a really cool idea.

I'm a bit wary to have `friends` creating and deleting cron jobs because that can get into the complexities of how different users and OSes manage their crontab (though I'm not an expert here—please let me know if there's a standard interface for this sort of thing that makes it less brittle).

How would you feel about some sort

[2020-09-23 13:34] ethanmorse commented on #268
I'm not sure of a standard interface.

`friends today` and the cron approach looks perfect. Excellent solution.

[2020-09-23 23:14] JacobEvelyn commented on #268
Great! I'm happy to work on that (likely this weekend) but don't want to step on your toes if you were hoping to take a shot at it (and I'd be happy to provide guidance). Either way works for me; just let me know!

[2020-09-27 16:42] ethanmorse commented on #268
I think it'd be much better if you were to work on it. I have zero experience with Ruby and am not in a position with career nor life to work on it properly. I've donated $50 in the meantime.

[2020-10-01 01:19] JacobEvelyn commented on #268
Thanks so much for the donation, @ethanmorse. It really means a lot. Some family things came up this weekend that slowed this down a bit but I _am_ working on it. I'll likely tackle #176 first as I think that will help clarify how the user experience might work.

As I think about this I have a few questions on my mind that I'd love your input on:

1. If I do `friends remind` and add a reminder, sh

[2020-10-01 02:49] ethanmorse commented on #268
Great questions. Excuse my lack of programming knowledge—I'm really only familiar with basic Python and HTML.

1i. Auto-delete should be fine if it can be rescheduled.

1ii. Yes, it should be able to be rescheduled. Not sure the best way to do this. Could each `friends remind` be given a tag/id that can be referenced for rescheduling? For example, `friends remind Call Jacob about new friends featu

[2020-10-01 11:30] JacobEvelyn commented on #268
Thanks for the input, @ethanmorse! I want to stew on this a bit more—I'm a little wary of building something overly complex in the first version, but I'll see what I can come up with!

[2020-10-15 14:24] RenCloud commented on #242
Hi i would like to work on this.

Additional to that i found a small missing documentation in the `friends help remove'. It only mentions (in the name description) the remove of `nickname`s. But when you simply call `friends remove` it also mentions `tag`s. Should i put that in another PR or only make a separated commit?

[2020-10-16 11:09] JacobEvelyn commented on #242
Thanks, @RenCloud! I’ll assign this issue to you.

And I think having another PR to fix the documentation would work best for me.

Thank for picking these up, and please let me know if there’s anything I can do to help!

[2020-10-16 22:18] RenCloud commented on #242
Okay, great.

I have started the implementation, but I have some open questions.

The first question is how to name the command. Currently I'm adding two new commands: `friends add location_nickname` and `friends remove location_nickname`, but I'm not sure if `location_nickname` fits to the other commands.

Additionally I have a question about the method `highlight_location`. For `highlight_friend

[2020-10-17 18:59] JacobEvelyn commented on #242
Hey @RenCloud! So glad to hear you've started working on this and thanks for the great questions!

This is a great question, and one I hadn't actually thought deeply about. In the past I've tended to use nested commands (such as multiple `friends add` subcommands) over one multiword command (such as `friends add_nickname`). The problem here is I think the most natural would be `friends add friend

[2020-10-18 17:27] RenCloud commented on #242
I'm glad to help. `friends` is a nice tool.

I also think that option 2 and 3 are not so great. Especially because they add another layer to the command, making it very long.

For the sake of simplicity I think the 4th option is better. It's not quite as descriptive, but it fits better with the other one. The combination of 2 words with underscore does not fit the simple call of the other commands

[2020-10-18 19:28] JacobEvelyn commented on #242
Cool, `friends add alias` it is!

Completely agree! Looking forward to when #246 is done! 😄

Ah yes, I wasn't clear—sorry! I was imagining this as the locations were named `Portland, ME` and `Portland, OR` and then you could add clarifying aliases to either.

Yeah it's definitely a bit confusing, but I think it's okay for friends to share the same nickname because of that five-step algorithm for d

[2020-10-29 13:00] #242 closed

[2020-10-29 13:38] JacobEvelyn commented on #242
Thanks so much for all the hard work here, @RenCloud! I've just merged this and released it in v0.54. You can get it with `friends update`.

Congratulations on becoming an official [contributor](https://github.com/JacobEvelyn/friends/graphs/contributors), and I'd love to have you contribute again in the future!

[2021-01-02 21:00] MartyLake opened #270 "Add new list command to log any activity or note related to specified friend"
Hello,
I am starting to dig `friends`, thanks for creating such tools :)

I wish I could `friend recall my_friend_s_nick` that would list any activity and note related to the friend.

Sure I can already `edit` the file and grep the name, but I am afraid that if the list grows a bit, friends with same name collide, whereas a nickname rarely collide at all.

This idea come from `ledger reg` that jus

[2021-01-03 17:43] JacobEvelyn commented on #270
Thanks for the kind words, @MartyLake! And thanks for the suggestion. ❤️

Are you aware that you can use the `--with` flag on [`friends list activities`](https://github.com/JacobEvelyn/friends#list-activities) and [`friends list notes`](https://github.com/JacobEvelyn/friends#list-notes)? Does that get you what you're looking for?

Or is it important that this new command combine both activities an

[2021-01-10 22:01] MartyLake commented on #270
Hello @JacobEvelyn  !

The hardest part of using your tool so far is sticking to journaling.

re new command:

I have decided to clearly separate `activities` for real world interaction, and `notes` for additional info that may or may not originate from activities (birthdate, place of living, new dog).
I have the feeling that if I use the tool a lot, information about one friend will be scattered

[2021-01-13 20:33] JacobEvelyn commented on #270
Hey @MartyLake ! Thanks for the explanation.

It's definitely possible to add a new `list` command that combines `activities` and `notes` in its output. Internally this codebase uses the word "event" to refer to both activities and notes, so this could be `list events`. I'm open to other names though!

Would you be interested in writing a PR for this feature?

[2021-05-04 19:42] MartyLake commented on #270
Hello Jacob,

After a while, I realize that I don't use my computer enough for this tool to be reliable for me.
Also, I have no experience in Ruby programming.

In all honesty, I will just close this feature request.
Thanks for taking the time to read and answer my messages, and all the best !

[2021-05-04 19:42] #270 closed

[2021-06-20 17:02] ra314 commented on #247
Hi Jacob, is this still being worked on? I have something similar to this project for keeping tracking of friends, but it's very bare bones and I love how many features this project has. Reading through the comments it seems like you were considering different ways to implement this. I'd say that having any way to keep track of friends I haven't talked to in a while is better than no way at all, s

[2021-06-24 20:32] JacobEvelyn commented on #247
Hi @ra314! Thanks for reaching out! I was waiting to hear if anyone else had thoughts before moving forward on implementation here, but if you'd find this useful I'm happy to add it.

Are you interested in becoming a contributor and making a PR or should I just merge the code I already have? (I'm happy either way—I just want to give you the opportunity to get involved if you want.)

(Also, I'm tra

[2021-06-26 09:10] ra314 commented on #247
You should merge the code you already have. Thanks for the consideration!

[2021-07-04 13:52] ra314 commented on #247
Hi @JacobEvelyn. I probably should've tagged you in that last message, I forgot that that's how notifications were delivered around here. Or maybe not and you're busy with other stuff (in which case ignore this message).  Just nudging you about the issue. Cause I'd find the feature super useful and would be able to shift to using this app.

[2021-07-06 15:05] JacobEvelyn opened #274 "Consider supporting NO_COLOR environment variable"
See: https://no-color.org

[2021-07-15 12:17] JacobEvelyn commented on #247
Sorry for the delay, @ra314! This hadn't slipped my mind, I just hadn't gotten a chance to work on this over the past few weeks. But I appreciate the nudge!

I'm working on adding this now!

[2021-07-15 13:57] JacobEvelyn opened #275 "Allow sorting of friends by earliest/latest activity"
[code]

[2021-07-15 13:58] JacobEvelyn commented on #176
Once this is added, we could also sort friends by `oldest`/`youngest`

[2021-07-16 11:23] JacobEvelyn commented on #247
Alright, I've got a good solution but my CI system seems to have broken so first I need to fix that :(

[2021-07-16 11:24] JacobEvelyn opened #277 "Switch from Travis to GitHub Actions"

[2021-07-16 13:23] JacobEvelyn opened #279 "Add tests for Ruby 3.0"

[2021-07-16 13:31] #277 closed

[2021-07-16 13:31] #279 closed

[2021-07-25 15:42] #247 closed

[2021-07-25 16:47] JacobEvelyn commented on #247
Okay @ra314 @danielepolencic @andypearson ! It took longer than I'd hoped to get this out the door but it's now released in v0.55.

Basically I removed the `list favorite friends` and `list favorite locations` commands in favor of a `--sort` option on the `list` commands. You can now `--sort alphabetical` (the default), as well as `--sort n-activities` (equivalent to the old `favorite` commands),

[2021-07-27 12:44] ra314 commented on #247
Hi Jacob, this works perfectly. I don't have much data rn because I haven't been using Friends before today, but the output I have so far is exactly what I wanted. Thank you for adding the feature!

[code]